.aboutTeamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  padding: 3rem 3rem 4rem 3rem;
  position: relative;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #fafafa 26.04%, #fafafa 69.79%, rgba(250, 250, 250, 0) 100%);
}

.aboutTeamHeading {
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 6rem);
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  // color: #dfdfdf;
  color: #0f58e5;
  text-transform: uppercase;
  padding-inline: 1rem;
  z-index: 2;
  margin-bottom: 3rem;
}

.teamGrid {
  // make 3 x 2 grid
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
}

// on smaller than 1200px, make 2 x 3 grid

@media (max-width: 1200px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.teamSlider {
  display: none;
  z-index: 2;
}

@media (max-width: 800px) {
  .aboutTeamContainer {
    padding-block: 0;
  }
  .teamGrid {
    display: none;
  }

  .teamSlider {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: max-content;
    height: max-content;
    margin-top: 5rem;
  }

  .aboutTeamHeading {
    position: relative;
    top: 4rem;
  }
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.memberCard {
  img {
    width: 70%;
    object-fit: contain;
  }
}

.memberDetails {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin: 0;
  }

  p {
    font-size: 1rem;
    color: #000;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .aboutTeamContainer {
    padding-inline: 0;
  }

  .teamPattern2 {
    display: none;
  }
}

.teamPattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.teamPattern2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 400px) {
  .memberCard {
    padding-bottom: 3rem;
  }
}
