.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/bg/indiaMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 600;
    color: #4e4e4e;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      font-weight: 700;
      font-size: clamp(3rem, 7vw, 7rem);
      color: #0f58e5;
    }
  }
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 5rem;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .right,
  .left {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    height: max-content;
    padding-block: 0;
  }

  .right {
    padding: 20px;
  }
}
