.expertCard {
  border-radius: 23px;
  width: 400px;
  height: 150px;
  box-shadow: 10px 9px 13px rgba(181, 181, 181, 0.21);

  .expertCard__image {
    background-image: url("/bg/profile_bg_pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 30%;
  }

  .expertCard__content {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .expertCard {
    padding-inline: 1rem;
    width: 300px;
    height: 130px;

    .expert_card_title {
      font-size: 1rem !important;
    }

    
  }
}


@media (max-width: 400px){
  .expertCardVideoCount {
    display: none;
  }
}