.container {
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  padding-inline: 3rem;

  .sectionHeading {
    padding: 1rem;
  }
}

.timelineContainer {
  padding: 1rem;
  max-width: 1500px;
  margin-inline: auto;

  .top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .topLeft {
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background: #ffffff;
      border-radius: 20px;
      padding: 2rem;
      padding-left: 0;
      height: 200px;

      button {
        border: none;
        padding: 1rem 2rem;
        width: 200px;
        border: 2px solid #0056d2;
        background-color: white;
        color: #0056d2;
        border-radius: 10px;
        z-index: 99;

        &:hover {
          background-color: #0056d2;
          color: white;
        }
      }

      .activeBtn {
        background-color: #0056d2;
        color: white;
      }
    }

    .topRight {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;

      .tab {
        padding: 1rem;
        padding-left: 0 !important;
        background: #ffffff;
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 2rem;

        p {
          margin: 0;
        }
      }
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;

    .left > p:first-child {
      font-weight: 500;
      font-size: 1.7rem;
    }

    .right > p:first-child {
      font-weight: 500;
      font-size: 1.7rem;
    }

    .bottomLeftMobile {
      display: none;
    }

    .bottomLeft,
    .bottomRight {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
      flex-wrap: wrap;
      gap: 0.8rem;
      border-radius: 26px;

      .gridItem {
        padding: 0rem 2rem;
        background-color: #f1f1f18a;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border-radius: 26px;
        text-align: center;
      }
    }

    .bottomRightMobile {
      display: none;
    }

    .bottomLeft {
      .gridItem {
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    .bottomRight {
      background-color: #f1f1f18a;
      padding: 2rem;
      .gridItem {
        background-color: white;
        padding: 1rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1100px) {
  .top {
    flex-direction: column;

    .topLeft {
      flex-direction: row !important;
    }
  }
}

@media (max-width: 950px) {
  .container {
    padding: 1rem !important;
  }

  .top {
    margin-bottom: 1rem;
  }

  .topLeft,
  .topRight {
    padding: 1rem !important;
    text-align: center;

    p {
      text-align: center;
    }
  }

  .bottomLeft,
  .bottomRight {
    width: 100%;
    height: auto;
  }

  .top {
    flex-direction: column;

    .topLeft,
    .topRight {
      width: 100% !important;
    }

    .topLeft {
      height: max-content !important;
      padding: 0 !important;
    }
  }

  .bottom {
    grid-template-columns: 1fr !important;
    gap: 4rem !important;
  }
}

@media (max-width: 767.98px) {
  .topRight {
    flex-direction: column !important;
  }
}

@media (max-width: 576px) {
  .topLeft {
    button {
      font-size: 0.8rem !important;
    }
  }

  .topRight {
    gap: 2rem !important;

    .tab {
      flex-direction: column !important;
      height: max-content !important;
      width: 100% !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }

  .bottomLeft {
    display: none !important;
  }

  .bottomRight {
    display: none !important;
  }

  .bottom {
     display: none !important;
  }

  .bottomLeftMobile {
    display: block !important;

    .gridItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      height: 80px;
      padding-inline: 2rem;
      border-radius: 26px;

      p {
        margin: 0;
      }
    }
  }

  .bottomRightMobile {
    display: block !important;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;

    .gridItem {
      margin-right: 5rem;
    }
  }
}

@media (max-width: 370px) {
  .topLeft {
    padding: 2rem !important;
    flex-direction: column !important;
  }
}
