.container {
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
    padding-inline: 3rem;


    h5 {
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 500;
        margin-bottom: 2rem;
    }

}


.faqContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    overflow-x: hidden;
    padding: 1rem;
    // background-color: #e8f4fd;
    border-radius: 10px;


    .left {
        width: 100%;
        padding: 1rem;



    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        span {
            height: 95% !important;
            width: 95% !important;
        }
    }
}


@media (max-width: 767.98px) {

    .container {
        padding: 1.5rem;
    }

    .faqContainer {
        flex-direction: column-reverse;

        .left {
            width: 100%;
            grid-template-columns: 1fr;
        }


        .right {
            width: 100%;
            border-radius: 0;

        }
    }
}

.accordionItem {
    border: none;
    color: #666666 !important;
}

.accordionHeader {

    button {
        background-color: #e8f4fd !important;

        &:focus {
            box-shadow: none;
            border: 0px solid #e8f4fd;
        }

        // &::after {
        //     flex-shrink: 0;
        //     width: 1rem;
        //     content: "+";
        //     // background-image: url('/icons/plusicon.png');
        //     background-image: none !important;
        //     transform: none !important;
        // }


    }
}

.accordionBody {
    border: none;
}