.journeyContainer {
  width: 100%;
  height: 100%;
  position: relative;

  .container {
    width: 100%;
    max-width: 100%;
    padding: 2rem;
  }
}


.descriptionSection {
  h1 {
    color: #4e4e4e;
    font-weight: 700;
  }

  span {
    color: #1159e5;
  }
}

@media (max-width: 768px) {
  .descriptionSection {
    h1 {
      color: #4e4e4e;
      font-weight: 500;
      line-height: 1.2;
    }

    span {
      color: #1159e5;
    }
  }

  .jorBox {
    margin-top: 2rem;
  }

  .jorRowBoxImage {
    padding: 0 !important;
    justify-content: flex-start !important;
    margin-top: 2rem !important;
  }
}

.slideBox01 {
  margin-top: 1rem;
  transition: all 0.3s ease-in;
}

.slideBox01 .row,
.slideBox02 .row,
.slideBox03 .row,
.slideBox04 .row,
.slideBox05 .row {
  display: flex;
  align-items: center;
}

.slideBox02 .jorBox,
.slideBox04 .jorBox {
  flex-direction: row-reverse;
}

.jorBox .jorRowBox {
  padding: 0 3rem;
  display: flex;
  justify-content: center;

  align-items: center;
}

.slideBox05 .jorBox {
  flex-direction: row-reverse;
}

.jourSection .descriptionSection {
  padding: 0 7rem 0 0rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.jourSection .descriptionSection h1 {
  font-weight: 700;
  color: #4e4e4e;
}

.jourSection .descriptionSection h1 span {
  color: #0d6efd;
}

.jourSection .imgSection {
  display: flex;
  overflow: hidden;
}

.imgJourney {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
}

.imgJourney:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.headingCont span {
  color: #0074d7;
  font-weight: 600;
}

.slideContainer {
  position: relative;
  padding-left: 3rem;
}

.journey_progress {
  background: url(/journey/line.svg) no-repeat;
  width: 5px;
  height: 100%;
  position: absolute;
  padding: 0;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}

.cards_main_journey {
  padding-left: 15px;
}

.cards_main_journey.active_journey {
  padding-left: 0 !important;
  padding-right: 15px;
}

.cards_main_journey:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 3px 9px #333;
  // background-image: url('/icons/airplane_icon.png');
}

.active_journey:before {
  left: auto;
  right: -10px;
}

.active_progress {
  background: #1159e5;
  transition: height ease-in-out;
  border-radius: 20px;
  position: relative;
}

@keyframes mymove {
  from {
    height: 0px;
  }

  to {
    height: 53vh;
  }
}

.active_progress::before {
  content: "";
  width: 120px;
  height: 120px;

  position: absolute;
  border-radius: 100%;
  left: -60px;
  bottom: -24px;
  background-image: url("/icons/airplanewithsmoke.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.active_journey {
  flex-direction: row-reverse;
  text-align: right;
}

@media (max-width: 1024px) {
  .journey_card_img {
    height: 260px;
  }
}

@media (max-width: 992px) {
  .countryImg h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .glBox:hover {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .journey_card_img {
    height: 200px;
  }

  .journey_cards p {
    font-size: 14px;
  }

  .sec_head h1 {
    font-size: 1.7rem;
  }

  .sec_head p {
    font-size: 1.2rem;
  }

  .fourCard01 {
    padding: 3rem 0 2rem;
  }

  .glBox:hover {
    width: 100%;
  }

  .glBox:hover .choice {
    width: 100%;
    overflow: scroll;
  }

  .journey_progress {
    left: 3%;
    top: 0;
    width: 3px;
    transform: inherit;
    right: inherit;
  }

  .jourSection .descriptionSection {
    padding: 0 0rem 0 5rem;
  }

  .active_progress:before {
    width: 80px;
    height: 80px;
    left: -40px;
    bottom: -14px;
  }

  .active_progress:after {
    width: 10px;
    height: 10px;
    left: -4px;
  }

  .jourSection .imgSection {
    padding: 1rem;
    max-width: 50%;
  }

  .accordianSection::before {
    background-position: 0 75px;
  }

  .accordianSection {
    margin-top: 8rem;
  }

  .headingAccord {
    padding: 0rem 0rem 2rem 0rem;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .cardText {
    font-weight: 500;
    font-size: 13px;
  }

  .jourSection .imgSection {
    max-width: 70%;
  }

  .jourSection .descriptionSection {
    padding: 0 0rem 0 4rem;
  }

  .jorRowBox {
    margin-top: 1rem;
  }
}

@media (max-width: 425px) {
  .journey_cards,
  .active_journey {
    text-align: center;
  }

  .journey_cards {
    margin-bottom: 35px;
  }

  .journey_card_img {
    width: 45%;
    margin: auto;
  }

  .sec_head p {
    font-size: 1rem;
  }

  .sec_head h1 {
    font-size: 1.4rem;
  }

  .journey_progress {
    left: 5%;
  }
}
