
.factContainer {
  max-width: 1500px;
  margin-inline: auto;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.factCard {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 289px;
  height: 113px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    background-color: #f6f6f6;
    transform: scale(1.05);
  }

  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 21px;

  .contentContainer {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 600;
    }
  }
}

.factSlider {
  display: none;
}

.sectionHeading {
    padding: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 670px) {
  .factSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .factCard {
        width: 250px;

        &:hover {
            transform: none;
        }
    }
  }

  .factContainer {
    display: none;
  }
}
