.container {
  background-color: rgba(238, 244, 255, 0.4);
  background-image: url("/videos/testimonials//background.webp");
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.testimonialCard {
  width: 500px;
  height: 500px;
  background-color: white;

  .testimonialContent {
    height: 400px;
    overflow: hidden;
  }
}

.testimonialCardText {
  width: 500px;
  height: 400px;
  background-color: white;
  position: relative;

  .testimonialUser {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1180px) {
  .testimonialCardText {
    margin-block: 5rem !important;
    .testimonialUser {
      top: -15%;
    }
  }
}

@media (max-width: 767px) {
  .testimonialCard {
    height: max-content;
    width: 300px;
    .testimonialContent {
      height: 300px;
    }
  }

  .testimonialCardText {
    width: 300px;
    padding-bottom: 2rem;
    .testimonialUser {
      top: -13%;
      img {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .testimonialCardText {
    margin-block: 3rem !important;
    margin-top: 4rem !important;
  }
}

@media (max-width: 350px) {
  .testimonialCard {
    width: 250px;
    margin-bottom: 2rem !important;
  }

  .testimonialCardText {
    width: 280px;
    .testimonialUser {
      top: -5%;
      img {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
}
