.formContainer {
  background-image: url("/bg/otta_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff4c;
  background-blend-mode: screen;
}

.optionButton {
  padding: 0.7rem 2rem;
  box-shadow: 0 4px 15px rgba(214, 223, 255, 0.5);
  transition: all 0.3s ease 0s;
  font-size: 1.1rem;

  &:hover {
    box-shadow: 0 4px 15px rgba(214, 223, 255, 0.6);
    transform: translateY(-5px);
  }
}

.optionButtonSelected {
  background-color: #1159e5 !important;
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

.btn {
  padding: 0.7rem 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  transition: all 0.3s ease 0s;
  background: linear-gradient(266.38deg, #1159e5 5.34%, #699af9 92.59%);
  border: none;
  color: #fff;
  border-radius: 99px;

  &:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
    transform: scale(1.05);
  }
}

.btnOutline {
  @extend .btn;
  background: transparent;
  color: #1159e5;
  border: 1px solid #1159e5;
}

.formInput {
  min-width: 100%;
  padding: 10px 1rem !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  border: none !important;
  border-radius: 14px !important;
  max-width: 500px;
  outline: none;
  border: 2px solid rgba(214, 223, 255, 0.8) !important;
}

.formInputCalendar {
  @extend .formInput;
  input {
    padding: 0 !important;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.selectDropdown {
  width: 100%;
  padding: 0.5rem 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  border: none;
  border-radius: 14px;
  color: #1159e5;
  max-width: 500px;
}

.questionContainer {
  height: 100%;
  width: 90%;
  padding-block: 1rem;
}

@media (max-width: 991.98px){
  .questionContainer {
    width: 50%;
  }
}

@media (max-width: 767.98px){
  .questionContainer {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  .questionContainer {
    width: 95%;
    padding-block: 2rem;
    padding-top: 0rem;
  }
}
