.faqContainer {
    width: 100%;
    padding: 2rem;
    width: 100%;
    min-height: max-content;
    background-image: url(/bg/faq_bg.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


    .left {
        min-width: 30%;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            color: white;
            font-size: clamp(2rem, 3vw, 3rem);
            margin-inline: auto;
            max-width: 80%;
        }
    }

    .faqs {
        padding: 1rem;
        width: 100%;

        .accordionHeader {
            border-radius: 18px !important;
            margin-block: 10px !important;


            h2 {
                border-radius: 18px !important;
            }

            button {
                background-color: white;
                border-radius: 18px !important;
                font-weight: 600;
                font-size: clamp(1rem, 1.2vw, 1.2rem);

                &:not(.collapsed) {
                    box-shadow: none;
                }


                &:focus {
                    border: none;
                }


            }
        }


    }
}


@media (max-width: 767.98px) {
    .faqContainer {
        flex-direction: column;

        h2 {
            text-align: center;
        }
    }
}