.container {
  width: 100%;
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  position: relative;
  // gap: 2rem;

  .boxOpenBtn {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border: none;
    background: transparent;
    color: white;

    svg {
      background-color: white;
      color: #0f58e5;
      padding: 2px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: transform 0.3s ease-in;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  text-align: center;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 600;
    font-size: clamp(3rem, 4vw, 5rem);
    margin-bottom: 2rem;
  }

  h3 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }

  h3 + p {
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-bottom: 20px;
  }

  .dynamicBox {
    // border-radius: 20px;
    padding: 2rem;
    padding-bottom: 6rem;
    background-color: #0f58e5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;

    hr {
      width: 80%;
      border: 1px solid white;
      margin: 5px;
    }

    .dynamicBoxPara {
      font-size: clamp(1rem, 1vw, 2rem);
      text-align: center;
      // line-height: 1.3;

      // height: 100px;
      // width: 200px;

      span {
        display: block;
        font-size: clamp(2rem, 5vw, 6rem);
        font-weight: 700;
      }
    }

    button {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      border: none;
      background: transparent;
      color: white;

      svg {
        background-color: white;
        color: #0f58e5;
        padding: 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: transform 0.3s ease-in;
      }
    }

    .dynamicBoxRow {
      display: flex;
      justify-content: center;
      gap: 2rem;
      transition: all 0.3s ease-in;
      margin-bottom: 20px;
    }

    p,
    h4 {
      margin: 0;
    }

    .column {
      h4 {
        font-size: clamp(1rem, 4vw, 4rem);
        font-weight: 700;
      }
    }
  }
}

.containerMobile {
  display: none;
}

@media (max-width: 767.98px) {
  .container {
    display: none;
  }

  .containerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    .dynamicBox {
      width: 300px;
      padding-bottom: 1rem;
    }

    .left,
    .right {
      width: 100%;
    }
  }
}
