.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 4rem;
    gap: 2rem;
    // background-color: #e7f4ff;

}


.left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;


}

.overviewImage {
    position: relative;

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #C3E2FC;
        bottom: -20px;
        left: -20px;
        border-radius: 20px;
    }
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        position: relative;
        width: 90%;
        left: 20px;
        padding-left: 1rem;

        &::before {
            content: "";
            position: absolute;
            background-image: url('/icons/staricon.png');
            background-size: contain;
            width: 20px;
            height: 20px;
            left: -20px;
            top: 10%;
        }
    }
}