
.searchbarContainer {
  width: 75%;
}

.card {
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.faqAutoCompleteContainer {
  animation: fadeIn 0.3s ease-in-out;
  .autoCompleteItem {
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.faqAnswerBox {
  animation: fadeIn 0.3s ease-in-out;
  width: 75%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .searchbarContainer {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .faqAnswerBox {
    width: 90%;
  }
}
