.countryCounsellorBanner {
  width: 100%;
  background-image: url('/banners/AdmissionRequirementBanner.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  padding-block: 2.5rem;

  div {
    h5 {
      margin: 0;
      color: #0f58e5;
    }

    p {
      margin: 0;
    }
  }


  button {
    background: #0f58e5;
    border: 2px solid #0f58e5;
    border-radius: 0px 20px 0 20px;
    color: white;
    padding: 10px;

    svg {
      margin-left: 5px;
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-radius: 9999px;
    }
  }
}

@media (max-width: 767.98px) {
  .countryCounsellorBanner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20PX;
  }
}