
// .progressContainer {
//   width: 100%;
//   height: 10px;
//   position: fixed;
//   top: 100px;
//   left: 0;
//   z-index: 9;
//   --plane-position: -35px;

//   .checkpoint {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     top: 50%;
//     bottom: 50%;
//     transform: translateY(-50%);
//     left: 100px;
//     border-radius: 99px;
//     z-index: 1;
//     // background-color: #0f58e5;
//     background-color: #e1e1e1;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     transition: all 0.3s ease-in;

//     .tooltip {
//       opacity: 0;
//       pointer-events: none;
//       position: absolute;
//       top: 150%;
//       background-color: rgba(0, 0, 0, 0.349);
//       width: max-content;
//       padding: 5px 10px;
//       font-size: 12px;
//       border-radius: 99px;
//       transition: all 0.1s ease-in-out;
//       transform: translateY(-5px);
//     }

//     &:hover .tooltip {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }

//   .staticProgress {
//     width: 100%;
//     height: 6px;
//     background-color: #e1e1e1;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//   }

//   .dynamicProgress {
//     width: 0;
//     height: 6px;
//     background-color: #1159e5;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     transition: width 1s ease-in-out;

//     &::after {
//       content: "";
//       width: 100px;
//       height: 100px;
//       position: absolute;
//       top: 100%;
//       bottom: 100%;
//       transform: translateY(-33%);
//       right: var(--plane-position);
//       // background-color: #1159e5;
//       background-image: url("/icons/airplanewithsmokeLeft.png");
//       background-size: contain;
//       background-repeat: no-repeat;
//     }
//   }
// }

// .planeContainer {
//   position: absolute;
//   left: 0;
//   top: 50px;
//   animation: planeAnim 5s ease-in infinite;
//   transform: translateX(-150px) rotate(270deg);
//   z-index: 1;

//   &::before {
//     content: "";
//     z-index: 10;
//     position: absolute;
//     width: 10px;
//     padding-left: 100rem;
//     height: 5px;
//     background-color: #0f58e5;
//     top: 43%;
//     right: 0;
//     transform: translateY(-50%);
//     animation: planeStripAnim 5s ease-in infinite;
//   }
// }

@keyframes planeAnim {
  from {
    transform: translateX(-10vw);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes planeStripAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes connectBtnAnim {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.serviceCard {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #f5f5f5;
  padding: 2rem;
  background-repeat: no-repeat;
  position: relative;

  p {
    margin: 0;
  }

  .left {
    .imageContainer {
      transition: all 0.3s ease-in;
      transform: scale(0.8);

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .right {
    h2 {
      font-weight: 700;
      color: #606060;
      margin-bottom: 1.5rem;

      span {
        color: #0f58e5;
      }
    }

    .points {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .point {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 11px;
        transition: all 0.3s ease-in;

        &:hover {
          transform: scale(0.9);
        }

        .pointIcon {
          background-color: white;
          color: #0f58e5;
          width: 35px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0px 2px 6px rgba(220, 220, 220, 0.3);
        }

        p {
          background-color: white;
          padding: 5px;
          padding-left: 10px;
          border-radius: 5px;
          width: 100%;
          box-shadow: 0px 2px 6px rgba(220, 220, 220, 0.3);
          box-shadow: 0px 2px 6px rgba(220, 220, 220, 0.3);
        }
      }
    }
  }
}

.serviceColumn {
  flex-direction: row;
}

.serviceColumnReverse {
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .progressContainer {
    display: none;
  }
}

@media (max-width: 1000px) {
  .connectBtn {
    display: none;
  }

  .serviceColumn {
    flex-direction: column;
  }

  .serviceColumnReverse {
    flex-direction: column;
  }

  .serviceCard {
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 2rem;

    .right {
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .serviceCard {
    gap: 0;
    .imageContainer {
      border-radius: 10px !important;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 12px;
    }
  }
}
