.searchInput {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  color: #000;
  outline: none;
  box-shadow: 0px 4px 11px rgba(38, 51, 77, 0.1);
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  &:focus {
    border: 1px solid #0056d2;
  }
}

.filterBtn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  color: #fff;
  outline: none;
  box-shadow: 0px 4px 11px rgba(38, 51, 77, 0.1);
  transition: all 0.3s ease;
  background-color: #0056d2;
  &:hover {
    background-color: #0041a8;
  }
}
