.journeyProgressBarContainer {
  background: url(/journey/line.svg) repeat-y ;
  width: 5px;
  height: 100%;
  position: absolute;
  padding: 0;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  z-index: 99 !important;

}

.activeProgressbar {
  background: #1159e5;
  transition: height ease-in-out;
  border-radius: 20px;
  position: relative;

  &::before {
    content: "";
    width: 120px;
    height: 120px;

    position: absolute;
    border-radius: 100%;
    left: -60px;
    bottom: -24px;
    background-image: url("/icons/airplanewithsmoke.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@keyframes mymove {
  from {
    height: 0px;
  }

  to {
    height: 53vh;
  }
}


@media (max-width: 768px){
    .journeyProgressBarContainer {
        left: 10% !important;
        transform: none !important;
    }

    .activeProgressbar {
        &::before {
            height: 80px !important;
            width: 80px !important;
            left: -41px !important;
        }
    }
}