.container {
  padding: 3rem;
}

.universityLogo {
  width: 150px !important;
  margin: 0 auto;
}

.table {
  font-size: 16px;
  width: 100%;
  table-layout: fixed;

  thead {
    background-color: #f5f8fd;
    border-bottom: 1px solid #e0e0e0;

    th {
      padding: 1rem 0;
      text-align: center;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      th {
        padding: 1rem;
      }

      td {
        padding: 1rem;
        text-align: center;
        vertical-align: middle;

        &:first-child {
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.universityBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  gap: 10px;
  position: relative;
  height: 150px;
}

.universityTag {
  font-size: 10px;
  cursor: pointer;
  font-weight: 500;
  width: 80%;
}

@media (max-width: 991.98px) {
  .container {
    padding: 2rem;
  }

  .universityLogo {
    width: 100px !important;
  }

  .table {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 1rem;
  }

  .universityLogo {
    width: 80px !important;
  }

  .universityBox {
    height: 100px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .table {
    font-size: 12px;

    // hide last column
    thead {
      th {
        padding: 0.5rem 0;
      }
      th:last-child {
        display: none;
      }
    }

    tbody {
      tr {
        td:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .universityBox {
    height: 80px;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0.5rem;
  }

  .universityLogo {
    width: 60px !important;
  }

  .universityTag {
    font-size: 8px;
  }

  .universityBox {
    height: 60px;
  }
}
