.influ_slider {
  [class~="swiper-slide"] {
    transform: scale(0.9);
    position: relative;
    border-radius: 20px;
    opacity: 0.6;
    z-index: -1;
    display: flex;
    justify-content: center;
    // overflow: hidden;
    // padding-bottom: 65px;
    [class~="influ_name"] {
      display: none;
      position: absolute;
      bottom: 4px;
      padding: 5px 11px;
      text-align: center;
    }
    [class~="action_wrap"] {
      display: none !important;
    }
  }
  [class~="swiper-slide"][class~="swiper-slide-active"] {
    transform: scale(1);
    opacity: 1;
    margin-right: 32px !important;
    [class~="influ_name"] {
      display: block;
    }
    [class~="action_wrap"] {
      display: flex !important;
    }
  }
  [class~="swiper-button-prev"] {
    top: 50%;
  }
  [class~="swiper-button-next"] {
    top: 50%;
  }
}

.sectionHeadingContainer {
  width: 60%;
}

.sectionHeading {
  .heading {
    .headingMain {
      font-size: 3rem !important;
      white-space: nowrap;
    }
  }
}

@media (max-width: 1200px) {
  .sectionHeading {
    .heading {
      .headingMain {
        font-size: 2.5rem !important;
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: 840px) {
  .sectionHeading {
    .heading {
      .headingMain {
        font-size: 2rem !important;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .sectionHeadingContainer {
    width: 100%;
  }
  .sectionHeading {
    .heading {
      .headingMain {
        font-size: 1.5rem !important;
      }
    }
  }
}
