.submitBtn {
  background-color: #001949;
  outline: none;
  border: none;
  border-radius: 9px;
  padding-block: 1.2rem;
  font-size: 1rem;
}

.submitBtn:hover {
  background-color: #002975;
  font-weight: bold;
}

.form {
  max-width: 600px;
  padding: 3rem;
  border-radius: 0.5rem;
}

.genderSelect {
  background-color: #c6c6c6;
  border-radius: 7px;
  width: 135px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 3rem;
}

.genderSelect:hover {
  cursor: pointer;
}

.genderImage {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.pCalendarInput {
  width: 100%;
}
.pCalendarInput input {
  padding: 0.9rem;
  border-radius: 10px;
  border: 1px solid rgb(116, 163, 253);
}

@media only screen and (max-width: 975px) {
  .formRow {
    gap: 1rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 670px) {
  .form {
    min-width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .form {
    padding: 1rem;
  }

  .formRow {
    gap: 1rem;
    flex-direction: column;
  }

  .genderGroup {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 370px) {
  .submitBtn svg {
    display: none;
  }
}
