.postCard {
  border-radius: 22px;

  .thumbnailContainer {
    border-radius: 22px;
    overflow: hidden;
    width: 100%;
  }

  .content {
    overflow: hidden;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: max-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 1rem;

    .description {
      margin-top: 1rem;
      margin-bottom: 1rem;

      img {
        width: auto !important;
        max-width: 100% !important;
        margin: 0 auto !important;
        height: auto !important;
        border: none !important;
        border-radius: 12px !important;
        margin-block: 1rem !important;
      }

      p {
        font-size: 1rem;
        line-height: 1.8rem;
      }

      h1 {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      h2 {
        font-size: 1.3rem;
        line-height: 2.2rem;
      }

      h3 {
        font-size: 1.1rem;
        line-height: 1.9rem;
      }

      h4 {
        font-size: 1rem;
        line-height: 1.8rem;
      }

      h5 {
        font-size: 0.9rem;
        line-height: 1.7rem;
      }

      h6 {
        font-size: 0.8rem;
        line-height: 1.6rem;
      }

      table {
        width: 100% !important;
        border-collapse: collapse;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 12px;
        overflow-x: auto;

        th {
          background-color: #1043e9;
          color: white;
          font-weight: 500;
          padding: 0.5rem;
        }

        td {
          padding: 0.5rem;
          background-color: transparent !important;
          border: none !important;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2 !important;
        }
      }

      &nbsp {
        display: none;
      }

      ol {
        font-size: 1rem;
        line-height: 1.8rem;

        li {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }

        li:last-child {
          margin-bottom: 0;
        }

        li p {
          margin-bottom: 0;
        }
      }

      ul {
        font-size: 1rem;
        line-height: 1.8rem;

        li {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }

        li:last-child {
          margin-bottom: 0;
        }

        li p {
          margin-bottom: 0;
        }
      }
    }

    .postCategoryTag {
      border: 1.2px solid #1043e9;
      color: #1043e9;
      font-weight: 500;

      &:hover {
        background-color: #1043e9;
        color: white;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .postCard {
    .content {
      box-shadow: none;
      width: 100%;
      padding: 0rem;
      padding-top: 2rem;
    }
  }
}
