.resourceCard {
  box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.09);
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem;
  border-radius: 12px;
  // min-height: 350px;
  transition: all 0.5s ease-in;

  .resourceCardImage {
    width: 369px;
    height: 221px;
  }
}


// .downloadedBadge {
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin: 1rem;
//   background-color: black;
//   color: white;
//   padding: 4px 8px;
//   font-size: 12px;
//   border-radius: 0px;
// }