.countryPageNav {
  height: 80px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-inline: 2rem;

  a {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 99px;
    background-color: #ececec;
    padding: 0.5rem 1.5rem;

    &:active {
      background-color: #0056d2;
      color: white !important;
    }

    &:hover {
      background-color: #0056d2 !important;
      color: white !important;
    }
  }
}

@media (max-width: 1000px) {
  .countryPageNav {
    justify-content: flex-start;
    padding-inline: 20px;
  }
}


