.stripContainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  margin-inline: auto;
  padding: 1rem;
  background-color: #1043E9;
  color: white;
  padding-block: 10px;
  font-size: clamp(15px, 1.5vw, 2rem);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-block: 1rem;
  z-index: 50;
  border-top: 2px solid white;

  span {
    width: 80%;
    font-size: clamp(10px, 2vw, 1.5rem);
  }
}



.stripContainer button {
  background-color: white;
  font-size: 1rem;
  color: #0d6efd;
  border-radius: 30px;
  appearance: none;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  margin-right: 10px;

}

@media screen and (max-width: 600px) {
  .stripContainer {
    width: 100%;
  }


  .stripContainer button {
    font-size: 13px;
  }
}