.container {
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
    padding-inline: 3rem;


    h5 {
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 500;
        margin-bottom: 10px;
    }

    p {
        font-size: clamp(1rem, 1vw, 1.5rem);
        color: #666666;
        margin-bottom: 2rem;
    }
}


.scholarshipContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    background-color: #E8F4FD;
    border-radius: 10px;
    padding: 1rem;

    .left {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 60px);
        column-gap: 1rem;
        align-items: center;
        padding-left: 2rem;

        .listItem {
            display: flex;
            align-items: center;
            word-break: normal;
            border-radius: 5px;
            padding-left: 20px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                // background-color: #0487F3;
                background-color: #0487f3;
                border-radius: 9999px;
                left: -10px;
            }


            p {
                margin: 0;
                color: inherit;
                font-size: clamp(1rem, 1vw, 1rem);
                color: #0487f3;
                font-weight: 500;
            }

        }
    }

    .right {
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // border: 4px solid #0487F3 !important;
        border-radius: 40px 40px 0px 40px;



        span {
            height: 100% !important;
            width: 100% !important;
            z-index: 2 !important;


        }
    }
}


@media (max-width: 767.98px) {

    .container {
        padding: 2rem;
        padding-top: 1rem;
    }

    .scholarshipContainer {
        flex-direction: column-reverse;

        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }


        .right {
            width: 100%;
            border-radius: 0;
        }
    }
}