.countryHeroBanner {
  max-width: 100%;
  width: 100vw;
  height: 600px;
  position: relative;
}

@media (max-width: 1199.98px) {
  .countryHeroBanner {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .countryHeroBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

@media (max-width: 767.98px) {
  .countryHeroBanner {
    height: 150px;
  }
}
