.container {
  z-index: 9999999;
  div {
    max-width: 500px;
    div {
      background: white;
      backdrop-filter: blur(15px);
      border-radius: 10px;
    }
  }
}

.body {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
    cursor: pointer;
  }

  .vidyaImageContainer {
    width: 300px;
    height: 300px;
    margin-inline: auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  button {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    background-color: #0f58e5;
  }

  & > button:first-child {
    background-color: transparent;
    border: 1px solid #0f58e5;
    color: #0f58e5;
  }
}

.freeCounsellingBtn {
  cursor: pointer;
  transition: 0.4s;
  background: linear-gradient(270deg, #0f58e5 50%, #216bffd5 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: #0f58e5;
  width: 100%;

  &:hover {
    background-position: 0 100%;
  }
}

@media (max-width: 400px) {
  .vidyaImageContainer {
    width: 100% !important;

    video {
      height: 100% !important;
      width: 100% !important;
    }

    span {
      right: 15px !important;
    }
  }

  .footer {
    flex-direction: column;
  }
}
