.badge {
  margin: 0 auto;
  background-color: #b1ccf44f !important;
  color: #253858b3;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
  white-space: break-spaces;

  svg {
    fill: #16b1a2;
    margin-right: 10px;
  }
}
