.container {
  width: 100%;
  padding-inline: 2rem;
  margin-top: 5rem;
}

.sectionHeading {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sectionPara {
  color: gray;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.contentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(241, 241, 241, 0.5411764706);
  padding: 2rem;
  border-radius: 22px;

  .left,
  .right {
    width: 50%;
    height: auto;
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  background: #ffffff;
  // border: 1px solid #e1e1e1;
  border-radius: 21px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 5px 20px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 0px;

  &:hover {
    transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 5px 20px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
  }
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.right {
  display: grid;
  gap: 1rem;
  height: auto;

  .card {
    height: 100% !important;
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1199.98px) {
  .contentContainer {
    .left,
    .right {
      width: 100%;
    }
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .card {
    .icon {
      min-width: 25px;
      min-height: 25px;
    }
  }
}

@media (max-width: 575.98px) {
  .card {
    .icon {
      min-width: 20px;
      min-height: 20px;
    }
  }
}

@media (max-width: 450px) {
  
  .contentContainer {
    padding: 1rem;
  }
  
  .left {
    grid-template-columns: 1fr;

    .card {
      align-items: center;
      flex-direction: row;
      padding-left: 2rem;
    }
  }

}
