.aboutContent {
  background-color: #162557;
  padding-block: 5rem;
  color: #fff;
}

.aboutContent p {
  font-size: clamp(14px, 1vw, 10px);
  line-height: 1.5;
  max-width: 90%;
  height: 90%;
  margin: auto;
}
