@media (max-width: 767.98px) {
  .col1 {
    padding: 2rem;
    h2,
    p {
      text-align: center;
    }
  }

  .col2 {
    width: 200px;
    height: 200px;
    margin-inline: auto;
  }
}

@media (max-width: 575.98px) {
  .col1 {
    padding: 1rem;
  }
}
