.homeFormContainer {
  height: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: max-content;
}

.homeFormLeft {
  position: relative;
  height: 100%;
  text-align: right;

  /* background-color: #0f56e5; 
  height: 100%;
  width: 80%; */
}

.formLeftArrow {
  position: absolute;
  top: 0;
  width: 100px;
  right: 15%;
  top: 3%;
}

.homeFormLeft::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0f56e5;
  z-index: -1;
  width: 90%;
}

.homeFormLeft h2 {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  width: 80%;
  text-align: left;
  padding-left: 5rem;
  padding-top: 1rem;
}

.borderText {
  color: #0f56e5;
  display: block;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.homeFormRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.leftFormImage span {
  padding: 1rem 1rem 1rem 1rem;
}

@media only screen and (max-width: 970px) {
  .homeFormLeft,
  .homeFormLeftCol {
    display: none;
  }

  .homeFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .homeFormContainer .homeFormLeft,
  .homeFormRight {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .homeFormRight {
    padding: 0.8rem 1.5rem;
  }
}

@media only screen and (max-width: 580px) {
  .homeFormLeft {
    display: none;
  }
}
