.noFoundPara {
  width: 65%;
}

.highlight {
  color: #0e50d3;
  border-radius: 6px;
  padding: 2px 5px;
  cursor: pointer;
}

.btn {
  background-color: orangered;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
}

@media (max-width: 767.98px) {
  .noFoundPara {
    width: 100% !important;
  }
}
