.expertBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #001946;
    background-image: url('/bg/bg01.png');
    color: white;
    padding-block: 2.5rem;
}

.expertBanner .ctaBtn {
    border: none;
    outline: none;
    background-color: #0F58E5;
    color: white;
    border-radius: 999px;
    height: max-content;
    width: max-content;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.expertBanner:hover .ctaBtn {

    padding: 1rem 2rem;
    opacity: 1;
}


.bannerHeading {
    padding-inline: 1rem;
}


.bannerHeading p {
    font-weight: 500;
    font-size: clamp(0.9rem, 11vw, 3.5rem);
    margin: 0;
}

.bannerHeading p > span{
    white-space: nowrap;
}



.bannerHeading h3 {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    font-size: clamp(1.5rem, 18vw, 6rem);

    color: #0F58E5;
    line-height: 1;
}

.colRight {
    width: 100%;
    padding: 2rem 0rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.colRight span {
        margin-right: 2rem !important;
}

.colRight::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    z-index: 10;
    background: rgb(0,25,70);
    background: linear-gradient(90deg, rgb(0 23 60) 5%, rgb(253 253 253 / 0%) 100%);
    
}

.colRight::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
    z-index: 10;
    background: rgb(0,25,70);
    background: linear-gradient(270deg, rgb(0 23 60) 5%, rgb(253 253 253 / 0%) 100%);
    
}

.expertCardImage {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.expertStrip {
    animation: expertStripSlide 30s ease-in 0ms infinite;
    padding-block: 2rem;
}

@keyframes expertStripSlide {
    0% {transform: translateX(1500px);}
    100% {transform: translateX(0px);}
}


@media (max-width: 500px){
    
.expertSliderImage {
    width: 240px;
    height: 300px;
}

}


@media only screen and (max-width: 580px) {
    .expertBanner {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        height: max-content;
    }

    .colLeft {
        width: 100%;
        background: transparent;
        margin: 0;
        padding-top: 5rem;
        text-align: center;
    }

    .expertSliderImage {
        margin-block: 3rem;
    }
}


.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}