.hoverLink {
  text-decoration: none;
  &:hover {
    font-weight: 600 !important;
  }
}

.mainBtn {
  max-width: 300px;
  padding: 0.5rem 2rem;
}

.btnTag {
  top: -5px;
}

@media (max-width: 1199.98px) {
  .mainBtn {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 575.98px) {
  .mainBtn {
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
    text-align: center;
    width: 100%;

    .btnTag {
      font-size: 8px;
    }

    .mainBtnIcon {
      display: none;
    }
  }

  .hoverLink {
    font-size: 12px !important;
  }

  .contactLink {
    font-size: 12px !important;
  }
}
