.postCard {
  border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 padding: 1rem;

  .thumbnailContainer {
    border-radius: 22px;
    overflow: hidden;
    width: 400px;
  }

  .content {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: relative;
    width: 98%;

    .postCategoryTag {
      border: 1.2px solid #1043e9;
      color: #1043e9;
      font-weight: 500;

      &:hover {
        background-color: #1043e9;
        color: white;
      }
    }
  }
}
