.videoLibraryFilters__search {
  box-shadow: 0px 4px 11px rgba(38, 51, 77, 0.1);;
  input {
    // border: 1px solid #ccc;
    border: none;
    outline: none;

    &:focus {
      border: 1px solid #000;
    }
  }
}

.videoLibraryFilters__chips {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 1rem;
  .videoLibraryFilters__chips__chip {
    &:hover {
      background-color: #0f58e5 !important;
      color: white !important;
    }
  }
}

@media (max-width: 576px) {
  .clearFilterFloatingBtn {
    bottom: 70px !important;
    left: 0;
  }
}
