.videoCard__overlay__viewCount {
  background: rgba(0, 0, 0, 0.536);
  backdrop-filter: blur(10px);
}

.videoCard__overlay__gradient {
  background: linear-gradient(180deg, rgba(2, 2, 2, 0) 0%, rgba(6, 6, 6) 100%);
  height: 100px;
}
