.heroBanner {
  display: flex;
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0;
  margin: 0 !important;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.universityImageContainer {
  height: max-content;
  width: 100%;
}

.titleBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  height: max-content;
  width: max-content;

  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 4rem 4rem;

  .flag {
    width: 30px;
    height: 30px;
  }

  .logo {
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
  }

  h1 {
    color: white;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 0;
    text-transform: capitalize;
  }
}

@media (max-width: 650px) {
  .titleBarMobile {
    h1 {
      font-size: 16px !important;
    }
  }
}
