.quickCompareContainer {
  box-shadow: 2px 3px 37px 4px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  bottom: 5rem;
  background-color: white;
}

.searchBtn {
  background: #1159e5;
  box-shadow: 6px 11px 28px rgba(17, 89, 229, 0.32);
  border-radius: 8px;
  height: 50px;
}

.compareNowBtn {
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  background: linear-gradient(270deg, #1159e5 50%, #246dff 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: #1159e5;
  width: 100%;
  position: relative;

  // on hover make a progress bar animation
  &:hover {
    background-position: 0 100%;
  }
}

@media (max-width: 1200px) {
  .quickCompareContainer {
    bottom: 2rem;
  }
}

@media (max-width: 900px) {
  .quickCompareContainer {
    position: relative;
    bottom: 4rem;
  }
}
@media (max-width: 500px) {
  .quickCompareContainer {
    bottom: 3rem;
  }
}
