.container {
  background-color: white;
  width: 100vw;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}

.ottaBody {
  background-image: url("/bg/otta_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: color;
}

.ottaHeader {
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  position: relative;
}

.stepsDotContainer {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  .stepDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0d6efd;
  }

  .stepActiveDot {
    box-shadow: 0 0 0 0 #0d6efd;
    transform: scale(1);
    animation: pulse 2s infinite;
  }

  .stepCount {
    background-color: #1158e5;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 12px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #0d6efd;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #0d6dfd6f;
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #0d6dfd00;
  }
}

.ottaGirlContainer {
  @extend .countryContainer;
  display: none;
}

.ottaGirlImage {
  position: fixed;
  bottom: 0;
  padding-bottom: 80px;
  right: 25px;
  width: 280px;
  transition: width 0.3s ease-in;

  p {
    cursor: grab;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 400;
    // width: 50%;
    // background-color: #D9D9D9;
    background-color: #2064e9;
    color: white;
    z-index: 100;
    padding: 0 10px;
    // padding-top: 25px;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(214, 223, 255, 0.5);
    border: 2px solid #2064e9;
    transition: transform 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    .vidyaBubbleBulb {
      position: absolute;
      top: -28px;
      left: -21px;
      font-size: 2rem;
      color: #ffc25b;
      transform: rotate(350deg);
      animation: bulbAnim 0.5s ease-in-out infinite alternate-reverse;

      @keyframes bulbAnim {
        0% {
          transform: rotate(15deg);
        }
        100% {
          transform: rotate(-15deg);
        }
      }
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     z-index: 10;
    //     right: 10px;
    //     top: 80%;
    //     width: 0;
    //     height: 0;
    //     border-top: 50px solid #D9D9D9;
    //     border-right: 50px solid transparent;
    // }

    &:active {
      cursor: grabbing;
    }

    i {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 10px;
      cursor: pointer;
    }
  }

  .ottaVidya {
    cursor: pointer;

    span {
      bottom: -10px !important;
    }
  }

  // img {
  //     object-fit: contain;
  //     object-position: bottom;
  //     width: 100%;
  //     height: 100%;
  // }
}

.professionMobileBtnContainer {
  display: none;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: none;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 80%;
  height: 100px;
  padding-left: 6rem;

  p {
    font-size: 1rem !important;
    font-weight: 600 !important;
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .ottaFooter {
    padding-bottom: 2rem !important;
  }

  .ottaGirlImage {
    display: none;
  }

  .programContainer {
    gap: 0 !important;
  }

  .programButton {
    transform: scale(0.8);
  }

  .programButtonActive {
    transform: scale(0.9) !important;
  }

  .professionContainer {
    display: flex;
    flex-direction: column;
    gap: 0 !important;

    .professionButtonContainerDivider {
      margin: 1rem 0 !important;
      font-size: 2rem;
    }
  }

  .professionButtonContainer {
    transform: scale(0.8);
    display: none !important;
  }

  .professionMobileBtnContainer {
    display: flex !important;
    position: relative;

    span {
      position: absolute !important;
      bottom: 0 !important;
      left: 10px !important;
      width: 70px !important;
      height: 70px !important;
    }
  }

  .professionButtonActive {
    border: 2px solid #1158e5 !important;

    &::after {
      content: "";
      right: 10px;
      top: 10px;
    }
  }
}

.ottaGirlMobileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 20px;
  margin: 0 auto;
  width: 70%;
  margin-top: 1rem;

  .ottaGirlMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 99px;
    overflow: hidden;

    span {
      margin-bottom: -10px;
    }
  }

  .ottaMobileText {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .ottaGirlMobileContainer {
    display: none;
  }
}

@media (max-width: 330px) {
  .ottaGirlMobileContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.ottaFooter {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;

  & button:first-child {
    background: white;
    border: 1px solid #1159e5;
    color: #1159e5;
  }

  button {
    background: linear-gradient(266.38deg, #1159e5 5.34%, #699af9 92.59%);
    border-radius: 9999px;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    transition: transform 0.1s ease-in;

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.ottaHeaderLogo {
  width: clamp(100px, 15%, 20%);
  cursor: pointer;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  gap: 1rem;

  h2,
  h3 {
    font-size: 1.3rem;
  }

  h2 {
    margin-bottom: 20px !important;
  }

  h3 {
    white-space: nowrap;
  }

  input {
    // width: 100%;

    &:hover {
      border-color: #1159e5 !important;
    }

    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 10px 0.2px #6999f95e !important;
      border-color: #1159e5 !important;
    }
  }
}

.question {
  display: none;
  text-align: center;
}

.questionMobile {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span {
    background-color: white;
    width: 50px;
    height: 50px;
  }
  p {
    text-align: left;
    margin: 0;
    font-weight: 500;
    // width: min-content;
  }
}

@media (min-width: 900px) {
  .question {
    display: block !important;
  }

  .questionMobile {
    display: none !important;
  }
}

.progressContainer {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  .staticProgress {
    width: 100%;
    height: 5px;
    background-color: #e9ecef;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .dynamicProgress {
    width: 50%;
    height: 5px;
    background-color: #1159e5;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.6s ease-in-out;

    &::after {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0px;
      bottom: -5px;
      background-color: #1159e5;
      border-radius: 50%;
    }

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      background-color: rgba(17, 88, 229, 0.2392156863);
      border-radius: 50%;
      position: absolute;
      bottom: -10px;
      right: -5px;
    }
  }
}

// Steps

.badgeHeading {
  text-align: center;
  background-color: #1158e5;
  color: white;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 12px;
  width: 100%;
}

// Step 1 (Programs)

.programContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.programButton {
  border: none;
  background-color: #fff;

  width: 120px;
  height: 120px;

  position: relative;
  padding: 0.69rem 1rem;
  margin: 0.48rem 0.48rem 0 0;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 15px rgba(214, 223, 255, 0.5);

  transition: all 0.3s ease-in-out;

  font-size: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    color: #1159e5;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f4f4f4;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.programButtonActive {
  position: relative;
  transform: scale(1.05);

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("/icons/check_icon.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.specializationButton {
  border: none;
  background-color: #fff;

  width: 120px;
  height: 120px;

  position: relative;
  padding: 0.69rem 1rem;
  margin: 0.48rem 0.48rem 0 0;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 15px rgba(214, 223, 255, 0.5);

  transition: all 0.3s ease-in-out;

  font-size: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  svg {
    color: #1159e5;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f4f4f4;
    position: absolute;
    right: -5px;
    top: -5px;
  }
}

.specializationButtonActive {
  position: relative;
  transform: scale(1.05);

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("/icons/check_icon.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    right: -5px;
    top: -5px;
  }
}

.filteredCourses,
.filteredSpecializations {
  width: 50%;
  margin-inline: auto;
}

.courseContainer,
.specializationContainer {
  width: 100%;
}

.majorContainer {
  @extend .specializationContainer;
}

.filteredMajors {
  @extend .filteredSpecializations;
  width: 75%;
}

// Step 2 - (Country)

.countryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.countryButton {
  border: none;
  padding: 0.69rem 1rem;
  margin: 0.48rem 0.48rem 0 0;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 15px #d6dfff80;
  border: 2px solid #d6dfff80;
  width: 210px;
  background-color: white;
  min-width: max-content;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:last-child {
    grid-column-start: 2;
  }

  &::after {
    content: "";
    min-width: max-content;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f4f4f4;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.majorButton {
  @extend .countryButton;
  min-width: max-content;
  width: max-content;
  padding-right: 3rem;
}

.majorButtonActive {
  @extend .specializationButtonActive;
}

.countryButtonActive {
  position: relative;
  transform: scale(1.05);
  border: 2px solid #d6dfff;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("/icons/check_icon.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 10px;
  }
}

.flag {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

// Step 3 - (Qualification)
.qualificationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  & + div {
    text-align: center;
  }
}

.qualificationButton {
  @extend .countryButton;
  width: 200px;

  &::after {
    background: none;
  }
}

.qualificationButtonActive {
  @extend .countryButtonActive;
  background-color: #1159e5;
  color: white;

  &::after {
    background: none;
  }
}

// Step 4 (Programs)

.languageYearDropdown {
  button {
    width: 100%;
  }
}

.languageContainer {
  @extend .countryContainer;
}

.languageButton {
  @extend .countryButton;
  width: 190px;
}

.languageButtonActive {
  @extend .countryButtonActive;
}

// step5 (budget)

.budgetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 50%;

  .budget {
    width: 100%;
  }

  .budgetStats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #a6a6a6;
  }

  .budgetBubble {
    background-color: white;
    border: 2px solid #0d6efd;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 19px;

    h2 {
      margin: 0 !important;
      font-size: 20px !important;
    }
  }
}

.budgetNotDecidedBtn {
  @extend .countryButton;
  margin-top: 1rem;
}

.budgetNotDecidedBtnActive {
  @extend .countryButtonActive;
  margin-top: 1rem;
}

// Step 6 (Profession)

.professionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  gap: 1rem;

  p {
    font-weight: 800;
    font-size: 50px;
  }

  & + div {
    select {
      width: 300px;
    }
  }
}

.professionButtonContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professionButton {
  @extend .countryButton;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1.3px solid #ffffff;
  position: relative;
  bottom: 5px;
  text-align: center;
  margin: 0;
  width: 180px;
}

// Form

.formContainer {
  width: 100%;
  max-width: 400px;
}

.formAgeSpan {
  background-color: #dfeaff;
  position: absolute;
  right: 40px;
  pointer-events: none;
  min-width: max-content;
  width: 52px;
  top: 40px;
  text-align: center;
  padding: 2px 10px;
  border-radius: 6px;
  margin: 0;
}

// Step Into

.stepInto {
  @extend .stepContainer;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;

  .imageContainer {
    position: absolute;
    bottom: -2px;
    right: 100px;
    animation: vidyaSlide 1s ease-in;
  }

  @keyframes vidyaSlide {
    0% {
      transform: translateX(370px);
    }

    100% {
      transform: translateX(0);
    }
  }

  h2,
  h3 {
    margin: 0;
    white-space: normal;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    h2 {
      font-size: clamp(1.5rem, 3vw, 3rem);
      color: #1159e5;
      font-weight: 700;
      white-space: normal !important;
    }

    h3 {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      width: 50%;
      text-align: center;

      span {
        font-size: clamp(1.5rem, 3vw, 3rem);
        display: block;
        margin-bottom: 1.3rem;
      }
    }

    button {
      background: linear-gradient(266.38deg, #1159e5 5.34%, #699af9 92.59%);
      border-radius: 9999px;
      border: none;
      color: white;
      padding: 1rem 2rem;
      font-size: clamp(1rem, 1.5vw, 1.5rem);

      transition: all 0.1s ease-in;

      svg {
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }

      &:active {
        transform: scale(0.9);
      }

      &:hover {
        padding-inline: 3rem;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .intoText {
    position: relative;
    right: 100px;
  }
}

@media (max-width: 1100px) {
  .stepContainer {
    h2,
    h3 {
      margin: 0 auto;
    }
    overflow-x: hidden;
  }

  .stepInto {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: relative;

    .imageContainer {
      right: 80px;
    }

    .intoText {
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translateX(-50%);
      width: 100%;
    }

    div {
      h3 {
        width: 90%;
      }

      button {
        transform: scale(0.8);
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .professionContainer {
    gap: 2rem;
  }

  .professionButton {
    text-align: center;
    padding: 0;
    min-width: 80vw !important;

    img {
      display: none;
    }
  }
}

.professionButtonActive {
  @extend .countryButtonActive;
}

@media (max-width: 820px) {
  .filteredCourses,
  .filteredSpecializations {
    width: 100%;
    margin-inline: auto;
  }

  .budgetContainer {
    width: 80%;
  }

  .countryContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .languageButton:last-child {
    grid-column: 1/-1;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .ottaGirlMobileContainer {
    width: 90%;
    .ottaMobileText {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .stepContainer {
    h2,
    h3 {
      white-space: normal;
    }
  }

  .countryContainer {
    grid-template-columns: 1fr;
  }

  .countryButton {
    &:last-child {
      grid-column-start: 1;
    }
  }
}
