.faqContainer {
  width: 100%;
  padding: 2rem;
  width: 100%;
  min-height: max-content;
  background-image: url("/bg/faq_bg.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  position: relative;

  &::before {
    content: "";
    background-image: url("/bg/faq_overlay.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    position: absolute;
    top: -170px;
    z-index: -1;
  }

  .sectionHeading {
    position: absolute;
    top: -100px;
    font-size: 3rem;
  }

  .left {
    width: max-content;
    h2 {
      color: white;
      width: 80%;
      font-size: clamp(2rem, 3vw, 3rem);
      margin-inline: auto;
    }
  }

  .faqs {
    padding: 1rem;
    width: 100%;

    .accordionHeader {
      border-radius: 18px !important;
      margin-block: 10px !important;

      h2 {
        border-radius: 18px !important;
      }

      button {
        background-color: white;
        border-radius: 18px !important;
        font-weight: 600;
        font-size: clamp(1rem, 1.5vw, 1.5rem);

        &:not(.collapsed) {
          box-shadow: none;
        }

        &:focus {
          border: none;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .faqContainer {
    margin-top: 10rem;
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }

  .sectionHeading {
    font-size: 2rem !important;
  }
}
