.optionButton {
  padding: 0.7rem 2rem;
  // box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  background: #f4f4f4;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  }
}

.optionButtonSelected {
  background-color: #1159e5 !important;
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

.btn {
  padding: 0.7rem 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
  transition: all 0.3s ease 0s;
  background: linear-gradient(266.38deg, #1159e5 5.34%, #699af9 92.59%);
  border: none;
  color: #fff;
  border-radius: 99px;

  &:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 18px 50px -10px;
    transform: scale(1.05);
  }
}

.btnOutline {
  @extend .btn;
  background: transparent;
  color: #1159e5;
  border: 1px solid #1159e5;
}

