.offcanvasContainer {
  height: 320px !important;
  max-height: 320px !important;
}

.freebieBox {
  width: 200px;
  height: 120px;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  //   border: 2px solid #1647ea;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;

  .freebieBoxCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 1;

    .icon {
      opacity: 0.8;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    transform: scale(0.9);
  }
}

.overlay {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.alertButton {
  appearance: none;
  border: none;
  animation: alertButtonPopup 0.4s ease-in;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  padding-left: 5rem !important;
  padding-block: 2rem !important;
  z-index: 100;

  .iconContainer {
    position: absolute;
    width: 320px;
    position: absolute;
    left: -147px;
    bottom: -14px;
    // background-color: #0e50d3;
    // border-radius: 99px;
  }
}

@keyframes alertButtonPopup {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 767.98px){
  .offcanvasContainer {
    height: 100vh !important;
    max-height: 100vh !important;
  }
}

@media (max-width: 500px) {
  .alertButton {
    left: 50% !important;
    top: 2% !important;
    bottom: auto !important;
    transform: translateX(-50%);
    justify-content: center !important;
    text-align: center;
    width: max-content;
    padding: 1.5rem !important;

    .iconContainer {
      display: none !important;
      width: 280px;
      left: -69px;
      bottom: -15px;
    }
  }
}
