.container {
  width: 100%;
  padding-bottom: 2rem;

  .sectionHeading {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sectionPara {
    color: gray;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-weight: 500;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 60%;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 80px;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 21px;

  .icon {
    min-width: 50px;
    min-height: 50px;
  }
}



@media (max-width: 1199.98px) {
  .content {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .gridContainer {
    padding-inline: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .imageContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gridContainer {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .gridContainer {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 0;
    
    .card {
      width: 90%;
    }
  }
}
