.filters {
  width: 100%;
  max-height: 99vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
}

.closeBtn {
  border: none;
  color: white;
  background-color: #0e50d3;
}

.applyBtn {
  @extend .closeBtn;
  color: white;
  background-color: #0e50d3;
  height: 40px;
}
