.postCard {
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 2rem;

  .thumbnailContainer {
    border-radius: 22px;
    overflow: hidden;
    padding: 1rem;

    span {
      border-radius: 11px;
    }
  }

  .content {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      // truncate title over two lines
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .postCategoryTag {
      border: 1.2px solid #1043e9;
      color: #1043e9;
      font-weight: 500;

      &:hover {
        background-color: #1043e9;
        color: white;
      }
    }
  }
}
