.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  width: 100%;
}

.sliderContainer {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;

  .imageBox {
    width: 100px;
    height: 100px;
  }
}
.universityLogoCard {
  width: 300px !important;
  height: 150px !important;
}

@media (max-width: 767.98px) {
  .sliderContainer {
    div {
      div {
        &::before,
        &::after {
          width: 10px;
        }
      }
    }
  }
}
