.container {
  width: 100%;
  // height: 100vh;
  background-color: #000b2c;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;

  .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;

    padding-inline: 2rem;
    padding-top: 1.5rem;

    .introText {
      position: relative;

      .stickyCta {
        z-index: 99;
        transition: all 0.3s ease-in-out;
      }

      .mouseIcon {
        border: 2px solid white;
        width: max-content;
        margin: 0 auto;
        border-radius: 99px;
        padding-block: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;

        svg {
          animation: mouseAnim 0.8s ease-in-out infinite alternate-reverse;
        }
      }

      @keyframes mouseAnim {
        0% {
          transform: translateY(-8px);
        }
        100% {
          transform: translateY(8px);
        }
      }

      .thankyouTimer {
        width: 109px;
        height: 109px;
        border-radius: 9999px;
        background: conic-gradient(from 180deg at 50% 50%, #0f58e5 0deg, rgba(0, 11, 44, 0) 360deg);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        transition: all 0.5s linear;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
      }

      .timerGif {
        position: relative;
        width: max-content;
        margin: 0 auto;
        pointer-events: none;

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        }
      }

      h1,
      h3 {
        margin: 0;
      }

      h1 {
        font-size: clamp(2rem, 5vw, 5rem);
        font-weight: 700;

        span {
          color: #000b2c;
          text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
          font-size: clamp(1rem, 9vw, 5.5rem);
        }
      }

      h3 {
        font-size: clamp(1rem, 5vw, 1.5rem);
        line-height: 1.5;

        span {
          background-color: white;
          color: #0f58e5;
          padding: 0rem 0.5rem;
          border-radius: 10px;
          font-weight: bold;
        }
      }

      a {
        margin-top: 20px;
        background: linear-gradient(266.38deg, #1159e5 5.34%, #1159e5 92.59%);
        border-radius: 9999px;
        border: none;
        color: white;
        padding: 1rem 2rem;
        font-size: clamp(1rem, 1.5vw, 1.5rem);

        transition: all 0.1s ease-in;

        svg {
          margin-left: 10px;
          width: 20px;
          height: 20px;
        }

        &:active {
          transform: scale(0.9);
        }

        &:hover {
          padding-inline: 3rem;
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }

  .right {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .imageContainer {
      position: absolute;
      left: 120px;
      bottom: -20px;
      animation: vidyaSlide 1s ease-in;
    }
  }
}

@keyframes vidyaSlide {
  0% {
    transform: translateX(-370px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .container {
    height: 1100px;
    flex-direction: column;

    .right,
    .left {
      width: 100%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imageContainer {
      // position: relative !important;
      left: 0px !important;
    }
  }
}
