.leadForm {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
}

.inputCalendar {
  outline: none;

  input {
    border: 1px solid #4950573e;
    border-radius: 8px;
  }
}
