
.overviewImage {
  border-radius: 30px !important;
  overflow: hidden;
  border: 10px solid rgb(204 204 204);
  height: 400px;

  span  {
    min-height: 100% !important;
  }
 }

// .right {
//     width: 100%;

// }

// @media (max-width: 900px) {
//     .container {
//         flex-direction: column;
//         padding: 2rem 3rem;

//         .left {
//             width: 100%;
//         }

//         .right {}
//     }
// }

// @media (max-width: 500px) {
//     .container {
//         padding: 1.5rem;
//     }
//     .right {
//         text-align: center;
//     }
// }
@media (max-width: 991px) {
  .right {
    h2, p {
      text-align: center;
    }

  }
}

.backgroundPattern {
  position: absolute;
  bottom: 0;
  right: 0;
}
