.container {
  width: 100%;
  display: flex;
  height: 100vh;
  max-height: 700px;
  overflow: hidden;
  position: relative;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  z-index: 2;
  background: linear-gradient(89.64deg, #ffffff 28.57%, rgb(255 255 255 / 0%) 90.74%);
  background-size: 105% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  button {
    border-radius: 9999px;
    background-color: white;
    appearance: none;
    outline: none;
    border: none;

    font-weight: 600;
    font-size: clamp(0.8rem, 1vw, 18px);
    background-color: #0e50d3;
    color: white !important;

    padding-block: clamp(0.1rem, 1vw, 2rem);
    padding-inline: clamp(0.1rem, 4vw, 2rem);

    width: max-content;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #ff5f25;
      color: white;
      transition: 0.3s;
      transform: scale(1.1);
    }
  }

  h2 {
    width: 60%;
    font-size: 4rem;

    span {
      margin: 0;
      line-height: 1;
      display: block;
      color: #0e50d3;
      font-weight: 700;
    }
  }
}

.right {
  width: 100%;

  span {
    img {
      bottom: 250px !important;
    }
  }
}

@media (max-width: 767.98px) {
  .container {
    height: 50vh;
  }

  .left {
    background: transparent;
    text-align: center;
    justify-content: center;
    padding-inline: 3rem;
    width: 100%;

    button {
      margin: 0 auto;
    }

    h2 {
      font-size: 2rem;
      padding: 1rem;
      width: 100%;
      border-radius: 30px;
    }
  }

  .right {
    span {
      img {
        bottom: 500px !important;
      }
    }
  }

}

@media (max-width: 380px) {
  .container {
    height: 200px;
  }

  .left {
    padding: 20px;

    h2 {
      width: 100%;
      font-size: 1rem;
    }
  }

  .right {
    span {
      img {
        bottom: 180px !important;
        height: 400px !important;
      }
    }
  }
}
