.container {
  width: 100%;
  padding: 5rem;
  height: max-content;
  padding-block: 0;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  cursor: pointer;

  p {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    span {
      color: #0f58e5;
    }
  }
}

.cardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 2rem;
  }

  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  max-width: 290px;
  height: 300px;
  overflow: hidden;
  padding: 1rem;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 15px rgb(0 0 0/8%);
  transform: scaleY(1);
  transform-origin: top;
  transition: all 1s ease;

  h4 {
    color: #1159e5;
    font-weight: 700;
    text-align: center;
  }

  p {
    display: none;
  }

  button {
    display: none;
    background: linear-gradient(268.86deg, #1159e5 0.73%, #689bff 99.27%);
    color: white;
    border-radius: 35px;
    border: none;
    padding: 0.5rem 2.5rem !important;
    font-size: 15px;
    font-weight: 600;
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    height: 450px;
    justify-content: flex-start;

    p {
      display: block;
    }

    button {
      display: flex;
    }
  }
}



@media (max-width: 767.98px) {
  .serviceCard {
    padding-inline: 3rem;
    padding-bottom: 2rem;
  }

  .bigTextHeading {
  padding-bottom: 0;

  }
}
