.container {
  width: 100%;
  padding: 1rem;
  // padding-top: 3rem;
  padding-inline: 3rem;
  // margin-block: 4rem 0;
  // margin-top: 0;
  .sectionHeading {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}

.costOfLivingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  .left,
  .right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #f1f1f18a;
    border-radius: 26px;
  }
}

.meterContainer {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .meter {
    background: transparent;
    z-index: 1;
  }

  .needle {
    z-index: 10;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: max-content;
    width: max-content;
    transform-origin: bottom;
  }

  .meterBounds {
    z-index: 10;
    position: absolute;
    bottom: -3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
  }
}

.right {
  display: flex;
  justify-content: flex-start !important;
}

.chartContainer {
  height: 70%;
  width: 70%;
}

.progressBar {
  height: 2rem;
  border-radius: 12px;
  background-color: rgb(217, 217, 217);
  overflow: hidden;

  .progress {
    width: 0;
    transition: all 1s ease-in;
  }
}
@media (max-width: 1199.98px) {
  .costOfLivingContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 1rem;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .meterContainer {
    width: 100%;
    height: 100%;

    .meter {
      width: 100%;
      height: 100%;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .needle {
      width: 40px;
      bottom: 0;
    }
  }
}

@media (max-width: 500px) {
  .right {
    padding: 10px !important;
  }
}

@media (max-width: 350px) {
  .needle {
    width: 30px !important;
  }
}
