.container {
  height: max-content;
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.universityContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
}

.sectionHeading {
  padding: 1rem;
}

.topUniversityCard {
  // overflow: hidden;
  width: 350px;
  height: 400px;
  border-radius: 12px;
  position: relative;
  margin-bottom: 4rem;

  img {
    border-radius: 12px;
  }

  .statText {
    font-size: 0.7rem;
  }

  .statValue {
    font-size: 1.6rem;
  }

  .content {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    height: 140px;
  }
}

.findYourUniversityButton {
  border: none;
  outline: none;
  margin-inline: auto;
  background-color: #0056d2 !important;
  padding: 0.7rem 2rem;
}

.applyBtn {
  background-color: #000c2f;
  color: white;
  border-radius: 99px;
  padding: 0.5rem 2rem;
  width: max-content;
  margin-bottom: 3rem;
}




@media (max-width: 450px) {
  .universityContainer {
    padding-inline: 10px;
  }
  .topUniversityCard {
    width: auto !important;


    .cardIcon {
      display: none;
    }
  }
}
