.bigTextContainer {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallText {
  position: relative;
  z-index: 20;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #4e4e4e;
}

.smallText span {
  color: #0f58e5;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
}

.smallText span::before {
  content: '';
  background-image: url('/bg/text-bg.png');
  width: 100%;
  height: 100px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:35px;
  opacity: 0.3;
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .smallText span::before {
    top: 35%;
  }
}

.bigText {
  font-size: clamp(25px, 10vw, 5rem);
  font-weight: 700;
  color: #EDEDED;
  position: absolute;
  display: none;
}

@media only screen and (max-width: 500px) {
  .bigTextContainer {
    background-size: 80%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .smallText,
  .bigText {
    position: static;
    margin: 0;
  }

  /*     
    .bigText {
        font-size: 15vw;
    }

    .smallText {
        bottom: 5px;
    font-weight: 500;
    color: #505050;
    } */
}
