.accordionHeader {
  h1,
  p {
    margin: 0;
  }

  background-image: url("https://www.commonwealthfund.org/sites/default/files/styles/countries_hero_desktop/public/country_image_Canada.jpg?h=f2fcf546&itok=tfGdKLUg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  button {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      color: white;
      font-weight: 700;
    }

    &:hover {
      border: none !important;
      box-shadow: none !important;
    }

    &::after {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      content: "";
      background-image: url("/icons/airplane_icon.png");
      background-repeat: no-repeat;
      background-size: 2rem;
      transition: transform 0.5s ease-in-out !important;
    }

    &:not(.collapsed) {
      background: linear-gradient(90deg, #000b2c45 0%, #0e50d366 100%);
    }

    &:not(.collapsed)::after {
      background-image: url("/icons/airplane_icon.png");
    }
  }

  .flag {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}


.accordionBodyContainer {
  background-color: #000b2c;
}

.accordionBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  button {
    font-size: 0.8rem;
    padding: 1rem 2rem;
    border: none;
  }

}

.accordionBody {
  background-color: #000b2c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 3rem;
  position: relative;

  .accordionBodyLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 3rem;

    h1,
    p {
      line-height: 1;
    }

    h1 {
      margin: 0;
      font-size: clamp(4rem, 7vw, 4rem);
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: clamp(2rem, 3vw, 2rem);
    }
  }

  .accordionBodyRight {
    display: grid;
    align-items: center;
    justify-items: flex-start;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;

    .gridItem {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin: 0;
        width: 80%;
      }

      .icon {
        // width: clamp(50px, 6vw, 4rem);
        // height: clamp(50px, 6vw, 4rem);
        border-radius: 9999px;
        width: 50px;
        width: 50px;
        overflow: hidden;
        background-color: white;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .accordionBody {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 1rem;
    padding-bottom: 5rem;

    .accordionCtaBtn {
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      margin-bottom: 1rem;
    }
  }

  .accordionBodyLeft {
    padding: 1rem !important;
    width: 100% !important;
  }

  .accordionBodyRight {
    padding: 1rem !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .accordionBodyRight {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 400px) {
  .accordionBodyRight {
    justify-items: center !important;
  }

  .gridItem {
    flex-direction: column;
    text-align: center;
  }
}
