.container {
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  padding-inline: 3rem;
  margin-bottom: 2rem;

}


.universityCard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  transition: all 0.5s ease-in;

  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 12px;

  .imageContainer {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h5 {
    font-size: 1.2rem;
    margin: 0;
  }

  h6 {
    color: #666666;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 10px;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }
}

.viewBtn {
  padding: 0.5rem 2rem;
  border-radius: 99px;
  width: max-content;
  border: none;
  background-color: #002147;
  color: white;
}
