.btn {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #0e50d3;
  outline: none;
  color: #0e50d3;
  font-size: 14px;
  padding: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: white;
    color: #0e50d3;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn2 {
  border: none;
  background-color: #0e50d3;
  color: #fff;

  &:hover {
    background-color: #0e50d3;
    color: #fff;
  }
}
