.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;

    h4 {
        text-align: center;
    }

    p {
        display: flex;
        align-items: center;
        margin: 0;

        button {
            background-color: transparent !important;
        }
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        input, button {
            width: 100%;
        }

        button {
            background-color: #1159e5;
        }
    }
}


.formSwitcher {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputContainerGender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    label {
        margin-left: 10px;
    }
}