// ANCHOR Country and University countryUniversityContainer

.countryUniversityContainer {
  background-color: rgb(240, 240, 237);
  width: 100%;
  display: flex;
  flex-direction: column;
  // margin-block: 2rem;
}

// ANCHOR Country and University Program

.programContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  padding-top: 100px;
}

.programButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.programButton {
  border: none;
  border-radius: 0.38rem;
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  border: 1px solid rgb(240, 240, 237);
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0.69rem 2.07rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;

  &:hover {
    animation: 0.2s ease-out 0s 1 normal none running programButton;
  }

  &:active {
    transform: scale(0.9);
  }

  @keyframes programButton {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }
}

.programButtonActive {
  border: none;
  border-radius: 0.38rem;
  background-color: #1043e9;
  color: white;
}

// ANCHOR Country and University Courses

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  gap: 1rem;
}

.courseButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.courseButton {
  border: none;
  border-radius: 0.38rem;
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  border: 1px solid rgb(240, 240, 237);
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0.69rem 2.07rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  gap: 10px;

  svg {
    font-size: 1rem;
    transition: transform 300ms ease-in-out 0s;
    animation: selectedCheck 0.3s ease-in-out 1;
  }

  @keyframes selectedCheck {
    from {
      transform: translateY(-0.5rem);
    }

    to {
      transform: translateY(0%);
    }
  }

  &:hover {
    animation: 0.2s ease-out 0s 1 normal none running courseButton;
  }

  &:active {
    transform: scale(0.9);
  }

  @keyframes courseButton {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }
}

.courseButtonActive {
  border-radius: 0.38rem;
  background-color: #1043e9;
  color: white;
}

// ANCHOR Country and University Countries

.countryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.countryButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.countryButton {
  border: none;
  border-radius: 0.38rem;
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  border: 1px solid rgb(240, 240, 237);
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0.69rem 2.07rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;

  gap: 10px;

  svg {
    font-size: 1rem;
    transition: transform 300ms ease-in-out 0s;
    animation: selectedCheck 0.3s ease-in-out 1;
  }

  @keyframes selectedCheck {
    from {
      transform: translateY(-0.5rem);
    }

    to {
      transform: translateY(0%);
    }
  }

  &:hover {
    animation: 0.2s ease-out 0s 1 normal none running countryButton;
  }

  &:active {
    transform: scale(0.9);
  }

  @keyframes countryButton {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }
}

.countryButtonActive {
  border: none;
  border-radius: 0.38rem;
  background-color: #1043e9;
  color: white;
}

// ANCHOR Country and University Universities

.universitiesContainer {
  @extend .countryContainer;
  padding: 2rem;
}

.universitiesButtonContainer {
  @extend .countryButtonContainer;
}

.universitiesMobileContainer {
  display: none;
  width: 100%;
}

.universityButton {
  @extend .countryButton;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 150px;
  text-align: start;
}

@media screen and (max-width: 400px) {
  .universityButton {
    flex-direction: column;
    text-align: center;
    width: 80vw;
    height: 200px;
  }
}

@media screen and (max-width: 790px) {
  .universitiesMobileContainer {
    display: block;
  }

  .universitiesButtonContainer {
    display: none;
  }
}
