.nextBtn {
  background-color: #fff;
  // border: 1px solid #0f58e5;
  border-radius: 12px;
  cursor: pointer;
  list-style: none;
  height: 40px;
  width: 40px;

  a {
    text-decoration: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.prevBtn {
  @extend .nextBtn;
}

.pageBtn {
  @extend .nextBtn;
  color: #0f58e5;
  border: 1px solid #0f58e5;
}

.activeBtn {
  @extend .pageBtn;
  background-color: #0f58e5;
  color: #fff;
}
