.headerContainer {
  span {
    color: #061739 !important;
    font-weight: 600;
    outline: none !important;
    border: none !important;
  }
}

.mainBtn {
  max-width: 300px;
  padding: 0.6rem 2rem;
}

.btnTag {
  top: -5px;
}


.headerDropdownItem {
  &:hover {
    background: rgb(243, 243, 243) !important;
  }
}

@media (max-width: 1199.98px) {
  .mainBtn {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 575.98px) {
  .mainBtn {
    padding: 0.4rem 1rem;
    font-size: 12px;
    white-space: nowrap;
    .btnTag {
      font-size: 8px;
    }

    .mainBtnIcon {
      display: none;
    }
  }

  .hoverLink {
    font-size: 12px !important;
  }

  .contactLink {
    font-size: 12px !important;
  }
}

@media (max-width: 350px) {
  .mainBtn {
    font-size: 8px !important;
    .btnTag {
      font-size: 5px;
    }
  }
}
