.menuContainer {
  margin-top: 0.5rem;
  overflow-x: hidden !important;

  .panelMenu {
    a {
      background-color: white !important;
      border: none !important;
      font-size: 14px;
    }
  }
}

