.expertVisitorsContainer {
    width: 100%;
    background-image: url('/bg/visitorBg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -2;
    margin: 0;
    padding-block: 2rem;
    margin-block: rem;
    z-index: 1;
    position: relative;


}

.gradient {
    background: linear-gradient(270.11deg, #003cb385 0.11%, #00194903 99.92%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.expertVisitorsContainer {

    h2,
    p {
        margin: 0;
    }
}

.expertVisitorsContainer h2 {
    color: white;
    font-weight: 700;
    font-size: clamp(2rem, 6vw, 5rem);
    margin: 0;
    text-align: center;
}


.expertVisitorsContainer p {
    color: white;
    font-weight: 500;
    font-size: clamp(1rem, 2.2vw, 2rem);
    margin: 0;
    text-align: center;

}

@media only screen and (max-width : 550px) {
    .expertVisitorsContainer h2 {
        font-size: 12vw;
    }

    .expertVisitorsContainer p {
        font-size: 4vw;
    }

    .expertVisitorsContainer {
        height: 200px;
    }
}