.strip {
  position: sticky;
  top: 5px;
  z-index: 10;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;

  ul {
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    li {
      background-color: #637588;
      color: white;
      padding: 10px;
      list-style: none;
      font-size: 12px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
