.universityCard {
  border-radius: 8px 8px 0 0;
  background-color: white;
  box-shadow: 0 0 2px #00000029;
  height: max-content;
  margin-bottom: 1.8rem;

  ul {
    padding: 0;
    list-style: none;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    li {
      list-style: none;
      font-size: 14px;
      border-left: 1px solid #00000029;
      width: 100%;
      min-height: 150px;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .addToCompare {
    width: 90%;
    background-color: white;
    // color: white;
    color: #f75d34;
    border: 1px dotted #f75d34;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 4px;
  }

  .addToCompareSelected {
    background-color: #f75d34;
    border: none;
    color: white;
  }

  .fees {
    background-color: #f75d34;
    color: white;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
  }

  .titleTag {
    font-size: 10px;
    display: block;
    background-color: #0e50d3;
    color: white;
    width: max-content;
    margin: 2px auto;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .subtitleTag {
    font-size: 12px;
    display: block;
    color: #0e50d3;
    width: max-content;
  }

  .universityCardItem {
    small {
      color: lightgrey;
    }

    p {
      margin: 0;
    }
  }
}

.universityCardDescription {
  background-color: #e6e8ed73;
  padding: 10px;
  color: #5d6068;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dynamicTag {
  text-align: center;
  border-radius: 10px 0;
  padding: 3px 2rem;
  position: absolute;
  top: -5px;
  left: -6px;
  background: #16adad;
  color: white;
  width: max-content;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    border-top: 6px solid #0f6969;
    border-left: 4px solid transparent;
    border-right: 6px solid transparent;
    top: 90%;
    left: 1px;
    transform: rotate(-139deg);
    z-index: 1;
  }
}

.scholarshipTag {
  @extend .dynamicTag;
  background-color: #f75d34;
   &::before {
    position: absolute;
    content: "";
    border-top: 6px solid #cd4c29;
    border-left: 4px solid transparent;
    border-right: 6px solid transparent;
    top: 90%;
    left: 1px;
    transform: rotate(-139deg);
    z-index: 1;
  }

}
@media (max-width: 575.98px) {
  .fees {
    font-size: 12px;
    padding: 4px 3px !important;
  }

  .universityCard {
    ul {
      li {
        padding: 0.5rem;
      }
    }
  }
}
