.counsellorSliderContainer {
    width: 100%;
}

.counsellorSlider {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.counsellorCard {
    .counsellorImage {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border: 5px solid #000B2C;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 100%;

        }
    }
}

.counsellorDetails {
    padding: 1rem;
    background-color: #000B2C;
    border-radius: 40px;
    color: white;
    position: relative;
    bottom: 30px;

    h2 {
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }
}