.container {
  z-index: 10;
  background-color: rgb(237, 237, 237);
  padding: 1rem;
  border-radius: 10px;
  height: max-content;
}

.universityBox {
  width: 100%;
  height: 100px;
  border: 2px dashed lightgray;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  cursor: pointer;

  .universityBoxCloseIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    background-color: transparent;
    border: none;
  }
}

.compareNowBtn {
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 14px;
  background: linear-gradient(270deg, #f75d34 50%, #e44a20 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: #f75d34;
  width: 100%;
  padding: 1rem 0;
  font-size: 11px;
  position: relative;

  // on hover make a progress bar animation
  &:hover {
    background-position: 0 100%;
  }
}

@media (max-width: 950px) {
  .compareNowBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
  }
}
