

.countryFormBtn {
  background: #001949;
  padding: 0.7rem 3rem;
}

.inputCalendar {
  outline: none;

  input {
    border: none;
  }
}

@media (max-width: 991.98px) {
  .countryForm {
    max-width: 500px;

    .countryFormBtn {
      width: 100%;
    }
  }
}
