.countryForm {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.illustrationColumn {
  width: 500px;
  min-height: 100%;
}

.formRow {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
}

@media (max-width: 991.98px) {
  .formRow {
    flex-direction: column;
  }

  .illustrationColumn {
    width: 100%;
    height: 300px;
  }
}
