// .container {
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;
//     justify-content: flex-end;
//     padding: 4rem;

// }

// .logoContainer {

//     margin-right: 5rem;
//     display: flex;
//     align-items: center;
//     gap: 5rem;
//     justify-content: space-around;
// }

// @media (max-width: 800px) {



//     .container {
//         padding-top: 2rem;

//         h2 {
//             text-align: center;
//         }
//     }
// }