.expertHeroSlider {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
  // width: 100%;
  // height: 300px;
  overflow-x: hidden;
  // padding: 2rem;
  position: relative;
  margin-block: 2rem;
}

// @media (max-width: 770px) {
//   .expertHeroSlider {
//     padding: 0;
//   }
// }

.stripTop {
  width: 100%;
  position: relative;
  // animation: strip1 15s linear infinite;
  display: flex;
  flex-direction: row;

  .layer1,
  .layer2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .layer2 {
    right: 100vw;
  }


}


.stripBottom {
  width: 100%;
  position: relative;
  // animation: strip1 15s linear infinite reverse;
  display: flex;
  flex-direction: row;

  .layer1,
  .layer2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;

  }

  .layer2 {
    right: 1500px;
  }


}

@keyframes strip1 {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0px);
  }
}