.mainButton {
  background-color: white;
  height: 100px;
  width: 300px;
  border: 2px solid #0f58e5;
  color: #0f58e5;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.09);
  transition: all 0.5s ease-in-out;

  .mainButtonImage {
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: #0f58e5;
    color: white;
    scale: 0.9;
  }
}

@media (max-width: 1000px) {
  .mainButton {
    padding: 1rem !important;
    width: 200px;
    height: 80px;
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .mainButton {
    padding: 1rem !important;
    width: 180px;
    height: 70px;
    font-size: 12px;

    .mainButtonImage {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 575.98px){
  .mainButton {
    width: 80%;
  }
}