.container {
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
    padding-inline: 3rem;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    h5 {
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 500;
        margin-inline: auto;

    }

    button {
        border: 2px solid #0f58e5;
        border-radius: 10px;
        background-color: transparent;
        color: #0f58e5;
        padding: 4px 10px;

        &:hover {
            background-color: #0f58e5;
            color: white;
        }
    }

}

.countryCard {
    height: max-content;
    width: max-content;
    padding-bottom: 3rem;

    .top {
        position: relative;
        height: 300px;

        span {
            height: 100% !important;
            border-radius: 10px 10px 0 0 !important;
        }

        .countryTitle {
            background-color: #0f58e5;
            color: white;
            font-size: 1.4rem;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            padding: 0.5rem;
            padding-left: 1rem;
            border-radius: 0 999px 999px 0;
        }

    }

    .bottom {
        border: 2px solid #EAEAEA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        border-radius: 0 0 10px 10px;


        a {
            color: #0f58e5;
            font-weight: 500;
        }
    }


}

@media (max-width: 767.98px) {
    .header {
        button {
            display: none;
        }
    }
}