@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");

.heroVideoContainer {
  position: relative;
  .heroVideo {
    pointer-events: none;
  }
}

.contentContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;

  h1 {
    font-family: "Libre Caslon Text", serif;
    font-size: 6rem;
    font-weight: 700;
    color: white;

    .mainBannerSubtitle {
      font-size: 2rem;
      display: block;
      text-align: center;
    }
  }

  .getStartedBtn {
    z-index: 1;
    border: 2px solid white !important;
    margin-top: 1rem;
  }
}

.bannerQuotes {
  position: relative;
  bottom: 40px;
}

@media (max-width: 1400.98px) {
  .contentContainer {
    h1 {
      font-size: 4rem !important;
    }

    .mainBannerSubtitle {
      font-size: 1.5rem !important;
    }
  }
}

@media (max-width: 991.98px) {
  .bannerQuotes {
    position: relative;
    bottom: 20px;
  }

  .contentContainer {
    h1 {
      font-size: 3rem !important;
    }
    .mainBannerSubtitle {
      font-size: 1.2rem !important;
    }

    .getStartedBtn {
      font-size: 0.8rem !important;
      span {
        font-size: 0.9rem !important;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .contentContainer {
    h1 {
      font-size: 2rem !important;
    }
    .mainBannerSubtitle {
      font-size: 1rem !important;
      margin-bottom: 0.5rem !important;
    }

    .getStartedBtn {
      margin: 0 !important;
      font-size: 0.7rem !important;
      span {
        font-size: 0.8rem !important;
      }
    }
  }
}

.heroBannerMobileContainer {
  display: none;
}

@media (max-width: 575.98px) {
  .heroVideoContainer {
    display: none;
  }

  .heroBannerMobileContainer {
    display: block;
    position: relative;

    .contentContainer {
      width: 100%;

      .bannerQuotes {
        bottom: 20px;
      }

      h1 {
        font-size: 3rem !important;
      }
      .mainBannerSubtitle {
        font-size: 1rem !important;
        margin-bottom: 0.5rem !important;
      }

      .getStartedBtn {
        font-size: 0.7rem !important;
        span {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .heroBannerMobileContainer {
    display: block;
    position: relative;

    .contentContainer {
      width: 100%;

      .bannerQuotes {
        bottom: 20px !important;
      }

      h1 {
        font-size: 2rem !important;
      }
      h3 {
        font-size: 1rem !important;
        margin-bottom: 0.5rem !important;
      }

      .getStartedBtn {
        font-size: 0.7rem !important;
        span {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
