.visaCard {
  height: 250px;
  width: 350px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -40%;
    right: -20%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.153);
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -40%;
    left: -20%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.153);
    border-radius: 50%;
  }
}
