// .listItem {
//   min-height: 60px;
//   display: flex;
//   align-items: flex-start;
//   gap: 1rem;
//   .dot {
//     min-width: 15px;
//     min-height: 15px;
//     width: 15px;
//     height: 15px;
//     background-color: skyblue;
//     border-radius: 50%;
//   }
// }

.progressBar {
  width: 90%;
  // .progress-bar {
  //   background-color: #00bfa5 !important;
  //   padding: 0.1rem !important;
  // }
  .progress-bar {
    background-color: #00bfa5 !important;
    padding: 0.1rem !important;
  }
}
