.container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: white;
  width: 100%;
  border-top: 1px solid #ddd;
  display: none;
  z-index: 100;
}

.bottomIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  position: relative;

  .bottomIconLabel {
    position: absolute;
    top: -70%;
    margin-inline: auto;
    white-space: nowrap;
    color: white;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }

  svg {
    font-size: 1.2rem;
  }
}

@media (max-width: 575.98px) {
  .container {
    display: grid;
  }
}
