@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "TestTiemposText";
  src: url("/fonts/TestTiemposFine-Medium.otf"); // pattern: /directoryName/file.extension
}

// * {
//   scrollbar-width: thin;
//   scrollbar-color: #0f58e5 #fafafa;
// }

// /* Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

// *::-webkit-scrollbar-track {
//   background: #fafafa;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #0f58e5;
//   border: 3px solid #fafafa;
// }

/* Chrome, Edge, and Safari */
.countryPageNav::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.5em !important;
}

.countryPageNav::-webkit-scrollbar-track {
  background: #eee;
  height: 1px !important;
}

.countryPageNav::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border: 1px solid #eee;
}
/* Chrome, Edge, and Safari */
.country-visa-card-description::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.5em !important;
}

.country-visa-card-description::-webkit-scrollbar-track {
  background: #eee;
  height: 1px !important;
}

.country-visa-card-description::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border: 1px solid #eee;
}

.faq_autocomplete-container::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.5em !important;
}

.faq_autocomplete-container::-webkit-scrollbar-track {
  background: #eee !important;
  height: 1px !important ;
}

.faq_autocomplete-container::-webkit-scrollbar-thumb {
  background-color: #ddd !important;
  border: 1px solid #eee !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

.p-dropdown-panel {
  z-index: 1111 !important;
}

.marquee {
  min-width: auto !important;
}

.speechBubbleErrored {
  border: 2px solid red;
  color: red;
}

.expertContainer .carousel-control-prev {
  left: -5rem;
}

.expertContainer .carousel-control-next {
  right: -3rem;
}

.popularUniversitySliderCountryPage {
}

.universityPlacementBanner {
  .swiper-slide {
    padding-bottom: 3rem;
  }
}

.universityCampusSlider {
  .swiper-slide {
    padding-bottom: 3rem;
  }
  .swiper-slide-shadow {
    background: none !important;
  }
  .swiper-slide-shadow-left {
    display: none;
  }
  .swiper-slide-shadow-right {
    display: none;
  }
}
.ottaPointSwiper {
  .swiper-slide-shadow {
    background: none !important;
  }
  .swiper-slide-shadow-left {
    display: none;
  }
  .swiper-slide-shadow-right {
    display: none;
  }
}

.cv-counsellor-redirect-swiper {
  .swiper-slide {
    padding-bottom: 3rem;
  }
  .swiper-slide-shadow {
    background: none !important;
  }

  .swiper-slide-shadow-left {
    display: none;
  }
  .swiper-slide-shadow-right {
    display: none;
  }
}

.topUniversitiesSlider {
  // .swiper-wrapper {
  //   padding-bottom: 4rem;
  // }

  .swiper-slide {
    height: auto;
  }
}

.homeHeroSlider {
  .swiper-pagination {
    background-color: white;
    border-radius: 99px;
    width: max-content !important;
    padding-inline: 1rem;
    left: 50% !important;
    right: 50% !important;
    transform: translateX(-50%) !important;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s ease-in;

    &:hover {
      padding-inline: 1.5rem !important;
    }
  }
}

.homeHeroServicesSlider {
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5);
  }
}

/* Country Page */

.countrySlider {
  width: 90% !important;
}

/* Perks Slider */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.perksSwiper {
  height: inherit !important;
  /* padding-inline: 15rem !important; */
}

// .counsellorSlider .swiper-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .counsellorSlider .swiper {
//     padding-inline: 5rem;
// }

/* Expert Banner Slider */

/* Form */

.form-control {
  padding-block: 0.9rem !important;
  border: 1px solid rgb(116, 163, 253) !important;
  border-radius: 9px !important;
}

.form-select {
  padding-block: 0.9rem !important;
  border: 1px solid rgb(116, 163, 253) !important;
  border-radius: 9px !important;
}

/* Program Slider */

.programsSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw !important;
  height: 150px !important;
}

.programsSlider .swiper-pagination,
.expertBannerSlider .swiper-pagination {
  display: none;
}

.perksSwiper .swiper-pagination {
  display: none;
}

@media screen and (max-width: 350px) {
  .programsSlider .swiper-pagination {
    display: block;
  }

  .perksSwiper .swiper-pagination {
    display: block;
  }

  .programsSlider {
    height: 250px !important;
  }
}

@media screen and (max-width: 580px) {
  .expertBannerSlider .swiper-pagination {
    display: block;
  }

  .expertBannerSlider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-inline: 5px !important;
    background-color: #fff;
  }
}

.universitySlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.coursesSlider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4rem;

  button {
    background: linear-gradient(94.35deg, #ffffff 17.82%, #ffffff 96.11%);
    border: 1px solid #e9e9e9;
    box-shadow: 0px 4px 10px 1px rgba(215, 215, 215, 0.37);
    border-radius: 10px;
    width: 200px;
    height: 150px;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;

    &:hover {
      border: 3px solid #0d6efd;
    }

    span {
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  .programsSlider {
    width: 80% !important;
  }

  .coursesSlider {
    width: 80% !important;
  }
}

.universitySlider-button,
.countriesSlider-button,
.programSlider-button,
.countrySlider-button,
.coursesSlider-button,
.counsellorSlider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 33%;
  z-index: 20;
}

.countriesSlider-button {
  top: 17%;
}

.programSlider-button {
  top: 35%;
}

.countrySlider-button {
  top: 50%;
}

.coursesSlider-button {
  top: 25%;
}

.counsellorSlider-button {
  top: 40%;
  bottom: 50%;
}

.universitySlider-button svg {
  width: 2.5rem;
  color: #0d6efd;
  height: 2.5rem;
}

.countriesSlider-button svg {
  width: 2.5rem;
  color: #0d6efd;
  height: 2.5rem;
}

.programSlider-button svg {
  width: 2.5rem;
  color: #0d6efd;
  height: 2.5rem;
}

.countrySlider-button svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #0d6efd;
}

.coursesSlider-button svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #0d6efd;
}

.servicesToolbar-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 150%;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    color: #0d6efd;
  }
}

@media (max-width: 1200px) {
  .servicesToolbar-button {
    top: 400% !important;
  }
}

@media (max-width: 850px) {
  .servicesToolbar-button {
    top: 200% !important;
  }
}

@media (max-width: 550px) {
  .servicesToolbar-button {
    display: none;
  }
}

.counsellorSlider-button svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #000b2c;
}

@media screen and (min-width: 800px) {
  .countriesSlider-button {
    display: none;
  }

  .programSlider-button {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .countrySlider-button {
    display: none;
  }

  .countrySlider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-inline: 10px !important;
  }

  .countrySlider .swiper-pagination {
    bottom: 0 !important;
  }

  .perksSwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-inline: 10px !important;
  }

  .perksSwiper .swiper-pagination {
    bottom: 0 !important;
  }
}

.universitySlider-button-prev {
  left: -35px;
}

.universitySlider-button-next {
  right: -35px;
}

.countriesSlider-button-prev {
  left: -50px;
}

.countriesSlider-button-next {
  right: -50px;
}

.programSlider-button-prev {
  left: 0;
}

.programSlider-button-next {
  right: 0;
}

.countrySlider-button-prev {
  left: 40px;
}

.countrySlider-button-next {
  right: 40px;
}

.servicesToolbar-button-prev {
  left: 0;
}

.servicesToolbar-button-next {
  right: 0;
}

.coursesSlider-button-prev {
  left: -50px;
}

.coursesSlider-button-next {
  right: -50px;
}

.counsellorSlider-button-prev {
  left: -70px;
}

.counsellorSlider-button-next {
  right: -70px;
}

@media screen and (max-width: 800px) {
  .homeHeroSlider {
    .swiper-pagination {
      background-color: transparent !important;
    }
  }

  .counsellorSlider-button-prev {
    left: -10px;
  }

  .counsellorSlider-button-next {
    right: -10px;
  }
}

@media screen and (max-width: 650px) {
  .universitySlider-button-prev {
    left: 10px;
  }

  .universitySlider-button-next {
    right: 10px;
  }

  .countriesSlider-button-prev {
    left: 10px;
  }

  .countriesSlider-button-next {
    right: 10px;
  }

  .coursesSlider-button-prev {
    left: 0px;
  }

  .coursesSlider-button-next {
    right: 0px;
  }
}

.videoLibraryExperts__swiper {
  .swiper-slide {
    width: max-content !important;
  }
}

.testimonialSlider {
  .swiper-wrapper {
    align-items: center;
  }
}

.servicesToolbarSlider {
  position: relative;
  top: 35px;
  width: 100%;
  .swiper-slide {
    height: 250px;
    transform: scale(1.2) !important;
    z-index: 10;
  }
  .swiper-slide-active {
    transform: scale(2.5) !important;
    width: max-content;
    z-index: 9;
  }
}

@media (max-width: 1180px) {
  .servicesToolbarSlider {
    top: 80px;
    .swiper-slide {
      height: 250px;
    }

    .swiper-slide-active {
      transform: scale(2) !important;
    }
  }
}

@media (max-width: 840px) {
  .servicesToolbarSlider {
    top: 50px;
    .swiper-slide {
      height: 250px;
      transform: scale(1) !important;
    }

    .swiper-slide-active {
      transform: scale(1.5) !important;
    }
  }
}

.swiper-slide.swiper-slide-active .OurServices_icon__yqCCM {
  box-shadow: 0 4px 8px #0000001c;
}

@media screen and (max-width: 600px) {
  .testimonialSlider {
    padding: 0 !important;
    height: max-content !important;

    .swiper-slide-active {
      transform: scale(1);
    }
  }

  .countriesSlider-button {
    top: 30%;
  }

  .servicesSlider {
    .swiper-button-prev,
    .swiper-button-next {
      top: 100px !important;
    }
  }
}

/* COuntry Lead Modal */

.countryLeadModal .modal-content {
  border-radius: 0.7rem;
}

.sliderTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: max-content;
  position: relative;
  bottom: 20px;
  z-index: 1;
}

.strip1,
.strip2 {
  width: 200px;
  height: 100%;
  cursor: pointer;

  .strip1Static {
    width: 200px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.678);
    position: absolute;
  }

  .strip1Dynamic {
    width: 0px;
    height: 4px;
    background-color: #fd4605;
    position: absolute;
  }
}

.slideload {
  animation: slideload 7s;
  transition: width 7s ease;
}

@keyframes slideload {
  0% {
    width: 0px;
  }

  100% {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .sliderTimer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .strip1,
  .strip2 {
    width: 40%;

    .strip1Static {
      width: 40%;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.678);
      position: absolute;
    }

    .strip1Dynamic {
      width: 0%;
      height: 4px;
      background-color: #fd4605;
      position: absolute;
    }
  }

  @keyframes slideload {
    0% {
      width: 0px;
    }

    100% {
      width: 40%;
    }
  }
}

.countryAccordionContainer {
  width: 80%;
  margin-inline: auto;
  padding-block: 1rem;
}

.suggestUniversityBtn {
  padding-block: clamp(0.1rem, 1vw, 2rem);
  padding-inline: clamp(0.1rem, 4vw, 2rem);
  border-radius: 999px;
  font-weight: 600;
  font-size: clamp(0.8rem, 1vw, 18px);
  background-color: #fd4605 !important;
  color: white !important;

  position: relative;
  overflow: hidden;
  // for background color shift
  background-size: 400% 400%;
  animation: TransitioningBackground 10s ease infinite;
  // to ease the button growth on hover
  transition: 0.6s;

  // psuedo-element shine animation left side
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // psuedo-element shine animation right side
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // grow button and change background gradient on hover
  &:hover {
    cursor: pointer;
    color: white !important;

    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 0.7s;
    }
  }
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 150px;
  perspective: 1000px;
  border-radius: 0.38rem;
  padding-inline: 10px;
}

@media screen and (max-width: 790px) {
  .flip-card {
    margin-bottom: 3rem;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 0.38rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.38rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    background: #1043e9;
    border-radius: 999999px;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .flip-card {
    width: 80vw;
    height: 200px;
  }

  .aboutTeamSlider {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}
@media screen and (min-width: 400px) {
  .aboutTeamSlider {
    .swiper-pagination {
      display: none;
    }
  }
}

/* Cost Of Living Meter glowOnHover */

.glowOnHover {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
  }
}

.stickCtaActive {
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
  bottom: 0;
  right: 0;
}

.about-stats-donut1 {
  height: 0;
  transition: all 0.5s ease-in-out;
}

.about-stats-donut2 {
  height: 0;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 575.98px) {
  .global-web-container {
    padding-bottom: 4rem;
  }
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.otta-budget-slider {
  margin-top: 4rem;
  border-radius: 100px !important;
  height: 1rem !important;
  background-color: #eaeaea;
  .p-slider-range {
    background: linear-gradient(90deg, #5a8ff6 0%, #1b60e7 98.69%) !important;
    border-radius: 100px !important;
  }

  .p-slider-handle {
    border: none !important;
    box-shadow: none !important;
    border-radius: 100px !important;
    transform: scale(2);
    background: linear-gradient(180deg, #fff0f0 0%, #e8e8e8 0.01%, #ffffff 100%) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 0px 4px 1px rgba(255, 255, 255, 0.85) !important;
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-before);
      min-width: 20px;
      min-height: 20px;
      width: max-content;
      padding: 3px 6px;
      border: 0.5px solid #1159e5;
      box-shadow: 3px 4px 4px rgba(200, 213, 236, 0.29);
      border-radius: 6px;
      background-color: white;
      bottom: 160%;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      background-color: transparent;
      border: 5px solid transparent;
      bottom: 110%;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      border-top: 5px solid #1159e5;
    }
  }
}

.optional-input-asterisk {
  color: red;
}

.text-gray {
  color: #5d6068;
}

.text-gold {
  color: #ffb904;
}

.fs-xs {
  font-size: 0.625rem;
}
.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 0.875rem;
}

.fs-lg {
  font-size: 1rem;
}

.fs-libre {
  font-family: "Libre Caslon Text", serif;
}

.fs-cursive {
  font-family: "Caveat", cursive;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.currencyToggleSwitch {
  .p-inputswitch-slider {
    border-radius: 100px !important;

    &::before {
      border-radius: 100px !important;
    }
  }
}

// bulb hover rotate animation

@keyframes bulbHoverAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bulbHoverAnimation {
  animation: bulbHoverAnimation 0.5s ease-in-out infinite;
}

// infinite rotate animation

@keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infiniteRotate {
  animation: infiniteRotate 1s linear infinite;
}

.text-cvblue {
  color: #0e50d3;
}

.text-cvblue-light {
  color: #5a8ff6;
}

.text-cvblue-dark {
  color: #0a3e9f;
}

.text-dark-gray {
  color: #343434 !important;
}

.text-bright-green {
  color: #00d8a1 !important;
}

.bg-cvblue {
  background-color: #0e50d3;
}

.bg-cvblue-light {
  background-color: #5a8ff6;
}

.bg-cvblue-dark {
  background-color: #0a3e9f;
}

.bg-bright-green {
  background-color: #00d8a1;
}
.bg-orange {
  background-color: #fd4605;
}
.text-orange {
  color: #fd4605;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-light-grey {
  background-color: #f7f7f7;
}

.bg-dark-grey {
  background-color: #637588;
}
.bg-light-blue {
  background-color: aliceblue;
}

.w-max {
  width: max-content;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.myshine {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation: slide 2s infinite;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.8)),
      color-stop(99%, rgba(128, 186, 232, 0)),
      color-stop(100%, rgba(125, 185, 232, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* IE10+ */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

// enter text from bottom animation

@keyframes enterTextFromBottom {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.enterTextFromBottom {
  animation: enterTextFromBottom 0.5s ease-in-out forwards;
}

.fade-item {
  transition: 0.2s all ease-in-out;
  opacity: 0;
}

.hovering-loop {
  animation: hovering-loop 1s ease-in-out infinite;
}

@keyframes hovering-loop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.popup-item {
  transition: 0.2s all ease-in-out;
  animation: popup-item 1s infinite ease-in-out alternate-reverse;
}

@keyframes popup-item {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes toastyCharacterAnim {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(-60%) rotate(40deg);
  }
}

@keyframes toastyCharacterBubbleAnim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toastyCharacterAnimation {
  animation-name: toastyCharacterAnim;
  animation-duration: 1200ms;
  animation-fill-mode: both;
}

.toastyCharacterBubbleAnim {
  animation-name: toastyCharacterBubbleAnim;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.extra-questions-modal {
  .modal-content {
    border: none;
    // border-radius: 30px !important;
  }
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.header-global-container {
  .p-menuitem-link {
    box-shadow: none !important;
  }
  .p-submenu-list {
    z-index: 9999 !important;
    background-color: white !important;
    border: none !important;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
    color: black !important;
  }
}

.mobile-menu-panel {
  .p-panelmenu-content {
    border: none !important;
  }
}

@media (max-width: 991.98px) {
  .header-global-container {
    .p-menubar-root-list {
      border: none !important;
      padding-inline: 2rem !important;
    }

    .p-submenu-list {
      box-shadow: none !important;
    }
  }
}

.university-admission-requirements-progress {
  height: 20px !important;
  .progress-bar {
    background-color: #00d8a1 !important;
  }
}

// create a button animation where the button is a circle and it expands to the full width of the screen

// circle pulse ring animation

@keyframes circle-pulse-ring {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.circle-pulse-ring {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 3px solid white;
    opacity: 1;
    transform: scale(2);
    animation: circle-pulse-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}


.journeyRemainingQuestionModalBackdrop {
  background-color: black !important;
  filter: blur(30) !important;
}
