.thankyouHero {
  background-color: #000b2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 150px;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 10rem;

  &::after {
    content: "";
    position: absolute;
    background-image: url("/bg/thankyou_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 150px;
  }

  img {
    width: 250px;
    color: white;
    transition: transform 0.1s linear;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;

    span {
      color: #000b2c;
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
      font-size: clamp(1rem, 9vw, 5.5rem);
    }
  }

  p {
    font-size: clamp(1rem, 5vw, 1.5rem);

    span {
      background-color: white;
      color: #0f58e5;
      padding: 0rem 0.5rem;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}

.headerContainer {
  background: none !important;
}

@media (min-width: 767.98px) {
  .headerNavLinks {
    color: white !important;
  }
}

@keyframes thumbRotate {
  0% {
    transform: rotate(-10deg) scale(1);
  }

  50% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(20deg) scale(1.2);
  }
}

.thankyouCTA {
  background: #1043e9;
  border-radius: 999999px;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
}

.thankyouTimer {
  width: 109px;
  height: 109px;
  border-radius: 9999px;
  background: conic-gradient(from 180deg at 50% 50%, #0f58e5 0deg, rgba(0, 11, 44, 0) 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 0.5s linear;
  position: relative;
  top: 50px;
}

@media screen and (max-width: 1000px) {
  .thankyouHero {
    &::after {
      top: 65px;
    }
  }

  .thankyouCTA {
    bottom: 130px;
  }

  .thankyouTimer {
    top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .thankyouHero {
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &::after {
      display: none;
    }
  }

  .thankyouCTA {
    bottom: 50px;
  }
}
