.heroSlider {
  width: 100vw;
  max-width: 100%;
  margin-bottom: 2rem;
  position: relative;

  .heroBanner {
    width: 100vw !important;
    height: 600px !important;
  }
}

.heroSliderMobile {
  display: none;
  padding: 10px;

  .heroBanner {
    border-radius: 20px;
  }
}

.suggestMeUniversityBtn {
  text-align: center;
  border-radius: 999px;
  background-color: #fd4605;
  color: white !important;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -2.5rem;
  transform: translateX(-50%);
  overflow: hidden;
  background-size: 400% 400%;
  transition: 0.6s;
  padding: 1rem 2rem !important;
  font-size: 1.6rem;
  z-index: 99;
  width: max-content;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 20px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
    animation: shining-btn 3s ease infinite;
  }

  &:hover {
    color: white;
  }

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: white !important;
  }
}

.navLinkLabelMobile {
  background-color: #fd4605;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  display: none;

  svg {
    animation: ai-cpu-icon-anim 2s ease-in infinite alternate-reverse;
  }
}

@keyframes ai-cpu-icon-anim {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shining-btn {
  from {
  }
  to {
    cursor: pointer;
    color: white !important;
    transform: translateX(300px) skewX(-15deg);
    transition: 0.7s;
  }
}

@media (max-width: 690px) {
  .suggestMeUniversityBtn {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem !important;
  }
}

// @media (max-width: 575.98px) {
//   .heroSlider {
//     display: none;
//   }

//   .heroSliderMobile {
//     display: block;
//   }
// }
