.toastyCharacterContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #00000040;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  // justify-content: center;
}
.toastyCharacter {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 99999;
}

.toastyCharacterBubble {
  position: absolute;
  bottom: 200px;
  left: 130px;
  height: max-content;
  width: 300px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  opacity: 0;
  z-index: 99999;
}

.toastyCharacterAnimation {
  animation-name: toastyCharacterAnim;
  animation-duration: 1200ms;
  animation-fill-mode: both;
}

@media (max-width: 463px) {
  .toastyCharacterBubble {
    bottom: auto;
    top: 20%;
    left: 80px;
  }
}
