.box {
  border: 1px solid #00000029;
  border-radius: 8px;
  padding: 1rem;
  min-height: 150px;
  height: 100%;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .fees {
    border-radius: 6px;
    background-color: rgb(252, 218, 205);
    padding: 10px;
    margin-bottom: 1rem;
  }

  .dot {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #00d8a1;
  }

  .dotActive {
    color: #ff0404;
  }
}
