// .rankingContainer {

//   .listItem {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;

//     .listItemLeft {
//       font-weight: 600;
//       position: relative;

//       .rankingBg {
//         position: absolute;
//         top: -25px;
//         left: 40px;
//         width: 100px;
//         height: 100px;
//         z-index: -1;
//       }
//     }

//     .listItemRight {
//       color: black;
//     }

//     &:first-child {
//       color: #ff6464;
//     }
//     &:nth-child(2) {
//       color: #6486ff;
//     }
//     &:nth-child(3) {
//       color: #98db7c;
//     }
//   }
// }

// @media (max-width: 600px) {

//   .rankingContainer {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: center;
//     gap: 4rem;
//     text-align: left;

//     .listItemRight {
//       h6 {
//         font-size: 1rem !important;
//       }
//     }
//   }
// }

// @media (max-width: 400px) {
//   .rankingBg {
//     transform: scale(0.5);
//   }
// }

.rankingContainer {
  .listItem {
    width: 200px;

    &:first-child {
      color: #ff6464;
      background-color: #ff646436;
    }
    &:nth-child(2) {
      color: #6486ff;
      background-color: #6486ff36;
    }
    &:nth-child(3) {
      color: #98db7c;
      background-color: #98db7c36;
    }
  }
  .listItemContent {
  }
}
