

.filterHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;

  span {
    width: 100%;
    position: relative;

    i {
      position: absolute;
      background-color: white;
      padding: 10px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      pointer-events: none;
    }

    div,
    input {
      width: 100%;
    }
  }
}

.courseContainer {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .courseCard {
    border-radius: 12px;
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    border: 1px solid rgba(43, 42, 41, 0.1);
    min-height: 300px;




    .subtitleContainer {
      p {
        color: #666666;
        color: #8594a7;
        font-size: 0.8rem;
      }

      a {
        color: #000c2f;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.factContainer {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  min-height: max-content;

  .factItem {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px dashed #000c2f;
  }
}

@media (max-width: 1200px) {
  .courseContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .courseContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 2rem;
  }

  .filterHeader {
    grid-template-columns: 1fr 1fr;

    & > span:first-child {
      grid-column: 1/-1;
    }
  }
}

@media (max-width: 570px) {
  .filterHeader {
    grid-template-columns: 1fr;
  }
}
